.bx-breadcrumb .bx-breadcrumb-item .bx-breadcrumb-item-text{font-size: 16px;font-family: 'TT Firs Neue';}

.bx-breadcrumb {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.bx-breadcrumb-item {
	height: 22px;
	white-space: nowrap;
}

.bx-breadcrumb-item-angle {
	margin: 0 10px;
	color: #b5bdc2;
	vertical-align: top;
	font-size: 12px;
}

.bx-breadcrumb-item-link {
	border-bottom: none;
	vertical-align: top;
	line-height: 21px;
}

.bx-breadcrumb-item-link:hover { }

.bx-breadcrumb-item-text {
	vertical-align: top;
	white-space: normal;
	font: 400 13px/21px "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	transition: 250ms linear all;
}

.bx-breadcrumb{
    position: relative;
    z-index: 100;
}
.bx-breadcrumb .bx-breadcrumb-item-link{
    color: #fff;
    transition: all 0.5s ease;
}
.bx-breadcrumb .bx-breadcrumb-item-link:hover{
    color: #B9653E;
}
.bx-breadcrumb .bx-breadcrumb-item-angle{
    color: #8F837B !important;
    font-size: 12px !important;
}
.bx-breadcrumb .bx-breadcrumb-item:last-child > *{
    color: #8F837B !important;
}