@font-face {
    font-family: 'TT Firs Neue';
    src: local("TT Firs Neue Regular"), local("TT-Firs-Neue-Regular"), url("../fonts/TTFirsNeue-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: local("TT Firs Neue Demi Bold"), local("TT-Firs-Neue-Demi-Bold"), url("../fonts/TTFirsNeue-DemiBold.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: local("TT Firs Neue Bold"), local("TT-Firs-Neue-Bold"), url("../fonts/TTFirsNeue-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'TT Firs Neue';
    color: #23282C;
    background: url("../img/body-bg.jpg") no-repeat center top/cover;
}

div, input, a {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.02;
}

p {
    line-height: 1.35;
}

h1, h2, h3 {
    font-weight: bold;
    font-family: 'TT Firs Neue';
}

h4 {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 62px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 34px;
}

h4 {
    font-size: 24px;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: block;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

input, button, textarea {
    font-family: 'TT Firs Neue';
    width: 100%;
    display: block;
    border: 0;
    outline: none;
    border-radius: 30px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

textarea {
    padding-top: 20px !important;
    resize: none;
}

.message {

    margin-top: 20px;

    opacity: 0;
    visibility: hidden;
    transition: .55s opacity, .55s visibility;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: .55s opacity, .55s visibility;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.message span.error {
    color: #a02211
}

.message span.success {
    color: #208d12
}

.slick-slide:focus {
    outline: none;
}

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.breadcrumbs li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 15px;
}

.breadcrumbs li.active {
    color: #8F837B;
}

.breadcrumbs li a {
    color: #fff;
}

.breadcrumbs li a svg {
    margin-right: 15px;
}

.breadcrumbs li a svg stop {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.breadcrumbs li a + svg {
    margin-left: 15px;
}

.breadcrumbs li:hover a {
    color: #B9653E;
}

.breadcrumbs li:hover a svg stop {
    stop-color: #B9653E;
}

.collapse-mobile .overlay {
    display: none;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.nav-icon {
    border: 8px solid #B9653E;
    border-radius: 50%;
    -webkit-box-shadow: 0px 20px 40px rgba(75, 58, 51, 0.3);
    box-shadow: 0px 20px 40px rgba(75, 58, 51, 0.3);
    width: 60px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 500;
    color: #B9653E;
    position: relative;
    background-size: 50%;
}

.nav-icon div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 46px;
    height: 46px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(#FFFFFF));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, #FFFFFF 100%);
}

.nav-icon svg {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.nav-icon:hover {
    border: 3px solid #B9653E;
}

.nav-icon:hover div {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(#FFFFFF));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, #FFFFFF 100%);
    -webkit-box-shadow: 0px 20px 40px rgba(75, 58, 51, 0.3);
    box-shadow: 0px 20px 40px rgba(75, 58, 51, 0.3);
}

.nav-icon:hover svg {
    margin-left: -10px;
}

.nav-icon:hover svg path {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.nav-icon.mod {
    border-color: #fff;
}

.nav-icon.mod div {
    background: radial-gradient(100% 100% at 50% 0%, #C7724A 0%, #B2633E 100%);
}

.nav-icon.mod:hover {
    border-color: #B9653E;
}

.nav-icon.mod:hover div {
    background: #fff;
}

.nav-icon.mod:hover div svg path {
    stroke: #B9653E;
}

.nav-icon.arrow-right:hover svg {
    margin-left: 0;
    margin-right: -10px;
}

.input {
    background: rgba(55, 58, 45, 0.03);
    background-blend-mode: multiply;
    border: 3px solid #FFFFFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0px -4px 15px rgba(118, 96, 86, 0.15);
    box-shadow: inset 0px -4px 15px rgba(118, 96, 86, 0.15);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    height: 64px;
    padding: 0 20px;
}

.input::-webkit-input-placeholder {
    font-size: 16px;
}

.input:-ms-input-placeholder {
    font-size: 16px;
}

.input::-ms-input-placeholder {
    font-size: 16px;
}

.input::placeholder {
    font-size: 16px;
}

.input:hover, .input:focus {
    border: 3px solid #B9653E;
}

textarea.input {
    min-height: 175px;
}

.checkbox input {
    cursor: pointer;
    width: 38px;
    height: 38px;
    position: absolute;
    opacity: 0;
}

.checkbox input + label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 700;
}

.checkbox input + label:before {
    content: '\2713';
    width: 38px;
    height: 38px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 30px;
    color: transparent;
    border: 3px solid #B9653E;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(#FFFFFF));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, #FFFFFF 100%);
    -webkit-box-shadow: 0px 10px 20px rgba(75, 58, 51, 0.2);
    box-shadow: 0px 10px 20px rgba(75, 58, 51, 0.2);
    border-radius: 10px;
}

.checkbox input:checked + label:before {
    background: #B9653E;
    color: #fff;
}

.section-title {
    text-align: center;
    color: #fff;
}

.section-title > h1 {
    margin-bottom: 25px;
}

.section-title > h1 span {
    color: #B9653E;
}

.section-title > p {
    max-width: 700px;
    margin: 0 auto;
}

.section-title.title-line h1:after {
    content: '';
    width: 72px;
    height: 2px;
    background: #B9653E;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu > li {
    position: relative;
    min-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.menu > li > a {
    position: relative;
    font-family: 'TT Firs Neue';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    color: #fff;
    font-size: 18px;
}

.menu > li > a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #fff;
    left: 0;
    bottom: -1px;
    -webkit-transition: background 0.5s ease;
    transition: background 0.5s ease;
}

.menu > li:hover a, .menu > li.active a {
    color: #B9653E;
}

.menu > li:hover a:after, .menu > li.active a:after {
    background: #B9653E;
}

.menu > li .submenu {
    top: 40px;
    z-index: 50;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    position: absolute;
    min-width: 270px;
    max-width: 400px;
    background: radial-gradient(100% 100% at 50% 0%, #C7724A 0%, #B2633E 100%);
    border-radius: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.menu > li .submenu li {
    margin-bottom: 20px;
}

.menu > li .submenu li a {
    position: relative;
    font-family: 'TT Firs Neue';
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    text-shadow: 0px 5px 10px rgba(75, 58, 51, 0.4);
}

.menu > li .submenu li.active a:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: -3px;
    background: #fff;
}

.menu li a .open-submenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 7px;
}

.menu li a .open-submenu svg {
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.menu li a .open-submenu svg path {
    -webkit-transition: fill 0.5s ease;
    transition: fill 0.5s ease;
}

.menu li a .open-submenu.open svg {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.burger-menu {
    display: none;
    position: relative;
    z-index: 50;
    max-width: 30px;
    margin-left: auto;
    cursor: pointer;
}

.burger-menu svg {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    fill: #B9653E;
}

.burger-menu.open svg {
    fill: #fff;
}

.btn {
    cursor: pointer;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 4px solid #B9653E;
    padding: 8px 15px 8px 8px;
    -webkit-box-shadow: 0px 20px 40px rgba(75, 58, 51, 0.3);
    box-shadow: 0px 20px 40px rgba(75, 58, 51, 0.3);
    border-radius: 95px;
    font-size: 20px;
    font-weight: 500;
}

.btn .btn-icon {
    position: relative;
    min-width: 48px;
    max-width: 48px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: auto;
}

.btn .btn-icon svg {
    position: relative;
    z-index: 1;
}

.btn .btn-icon:after {
    content: '';
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.45)), to(#FFFFFF));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.45) 0%, #FFFFFF 100%);
    position: absolute;
    left: 0;
    border-radius: 50%;
    opacity: .3;
    z-index: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn span {
    position: relative;
    margin-left: 15px;
    width: 100%;
    text-align: center;
}

.btn-brown {
    background: radial-gradient(100% 100% at 50% 0%, #C7724A 0%, #B2633E 100%);
    color: #fff;
}

.btn-brown:hover {
    background: radial-gradient(100% 100% at 50% 0%, #fff 0%, #fff 100%);
    color: #B9653E;
}

.btn-brown:hover .btn-icon::after {
    background: radial-gradient(100% 100% at 50% 0%, #C7724A 0%, #B2633E 100%);
    opacity: 1;
}

.btn-transp {
    background: radial-gradient(100% 100% at 50% 0%, #C7724A 0%, #B2633E 100%);
    color: #fff;
}

.btn-transp:hover {
    background: radial-gradient(100% 100% at 50% 0%, transparent 0%, transparent 100%);
}

.btn-transp:hover .btn-icon svg stop {
    stop-color: #B2633E;
}

.btn-transp:hover .btn-icon::after {
    background: #fff;
    opacity: 1;
}

.convex-border {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    border-radius: 50% / 8%;
    text-overflow: clip;
}

.slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slick-dots li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    margin: 0 4px;
}

.slick-dots li button {
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.slick-dots li.slick-active {
    background: #B9653E;
}

.leaves img {
    position: absolute;
    z-index: 2;
}

.arrow {
    z-index: 22;
}

.shine {
    mix-blend-mode: screen;
    z-index: 10;
}

.shine img {
    position: absolute;
}

.watermark.onHover {
    position: relative;
    z-index: 22;
}

.watermark.onHover svg {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.watermark.onHover svg:hover {
    stroke: #B9653E;
}

.header {
    position: relative;
    padding: 36px 0;
    background: transparent;
}

.header .container {
    position: relative;
}

.header .container .row {
    position: relative;
    z-index: 50;
}

.header-back {
    position: absolute;
    z-index: 0;
    top: -36px;
    right: 165px;
    width: 448px;
    height: 840px;
}

.header-back img {
    width: 100%;
}

.header-menu > li {
    margin-left: 65px;
}

.header-menu > li:first-child {
    margin-left: 0;
}

.header-menu > li:last-child {
    margin-left: auto;
}

.offer {
    padding: 75px 0 75px;
}

.offer-title {
    position: relative;
    text-align: left;
    color: #fff;
}

.offer-title h3 {
    font-weight: 500;
}

.offer-title h1 {
    font-weight: bold;
}

.offer-title h1 span {
    color: #B9653E;
}

.offer-title .offer-text {
    max-width: 450px;
    margin: 40px 0 0;
    color: #fff;
}

.offer-title.title-line h1:after {
    margin: 35px 0 0;
}

.offer-title .watermark {
    position: absolute;
    right: -170px;
    top: -55px;
}

.offer-btn {
    margin-top: 40px;
    max-width: 280px;
}

.offer-img {
    margin-top: -110px;
    margin-left: auto;
    margin-right: auto;
    max-width: 660px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.offer-img > img {
    width: auto;
    height: auto;
    position: relative;
    -webkit-transition: all 3s ease;
    transition: all 3s ease;
    -webkit-animation-name: offerImg;
    animation-name: offerImg;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.offer-img > img:nth-child(1) {
    right: -120px;
    z-index: 3;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.offer-img > img:nth-child(2) {
    z-index: 2;
    right: -60px;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    animation-direction: reverse;
}

.offer-img > img:nth-child(3) {
    z-index: 1;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

.offer-img img.offer-fruits {
    position: absolute;
    left: 40px;
    top: 20%;
}

.offer-img .leaves img:nth-child(1) {
    top: 50%;
    left: -1%;
}

.offer-img .leaves img:nth-child(2) {
    left: 22%;
    top: 0%;
}

.offer-img .leaves img:nth-child(3) {
    right: 20%;
    top: 0%;
}

.offer-img .leaves img:nth-child(4) {
    top: 20%;
    right: 3%;
}

.offer-img .leaves img:nth-child(5) {
    bottom: -2%;
    right: 4%;
}

.offer-img .leaves img:nth-child(6) {
    bottom: -25%;
    right: 5%;
}

.offer-img .leaves img:nth-child(7) {
    bottom: -20%;
    right: 38%;
}

.offer-img .leaves img:nth-child(8) {
    bottom: -22%;
    left: 6%;
}

.offer-img .shine img {
    -webkit-animation-name: offerImg;
    animation-name: offerImg;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.offer-img .shine img:nth-child(1) {
    left: 130px;
    top: 230px;
    max-width: 200px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.offer-img .shine img:nth-child(2) {
    left: 220px;
    top: 180px;
    max-width: 250px;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    animation-direction: reverse;
}

.offer-img .shine img:nth-child(3) {
    max-width: 300px;
    left: 300px;
    top: 120px;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

@-webkit-keyframes offerImg {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes offerImg {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.benefits {
    padding: 75px 0;
    position: relative;
    z-index: 1;
}

.benefits .container {
    position: relative;
}

.benefits .container .leaves img {
    position: absolute;
}

.benefits .container .leaves img:nth-child(1) {
    top: 30%;
    left: -2%;
}

.benefits .container .leaves img:nth-child(2) {
    left: 33%;
    top: -10%;
}

.benefits .container .leaves img:nth-child(3) {
    right: -3%;
    top: 45%;
}

.benefits .container .leaves img:nth-child(4) {
    bottom: -15%;
    left: 23%;
}

.benefits .container .leaves img:nth-child(5) {
    bottom: -16%;
    left: 70%;
}

.benefits .row > div:nth-child(3n + 2) {
    margin-top: 40px;
}

.benefits-item {
    border: 3px solid #B9653E;
    padding: 14px;
    min-height: 335px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.benefits-item .benefits-content {
    position: relative;
    background: radial-gradient(85.41% 100% at 50% 0%, rgba(255, 255, 255, 0.75) 0%, #E9D4CA 0.01%, #FFFFFF 100%);
    -webkit-box-shadow: 0px 0px 15px #B2633E;
    box-shadow: 0px 0px 15px #B2633E;
    padding: 55px 30px 40px;
    text-align: center;
    width: 100%;
}

.benefits-item .benefits-content h3 {
    font-size: 24px;
    position: relative;
    margin-bottom: 25px;
}

.benefits-item .benefits-content h3:after {
    content: '';
    display: block;
    width: 36px;
    height: 2px;
    background: #B9653E;
    margin: 25px auto 0;
}

.benefits-item .benefits-content .benefits-icon {
    position: absolute;
    left: 0;
    right: 0;
    top: -35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #fff;
    border-radius: 50%;
}

.features {
    padding: 45px 0 90px;
}

.features .row > div:nth-child(3n + 2) {
    margin-top: 40px;
}

.features-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.features-item h3 {
    text-align: center;
    color: #fff;
    font-weight: 500;
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

.features-item h3 span {
    display: block;
    font-size: 24px;
    margin-bottom: 9px;
}

.features-item .features-content {
    margin-top: 120px;
    position: relative;
    width: 100%;
}

.features-item .features-content .hover-reverse {
    position: absolute;
    z-index: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.features-item .features-content .hover-reverse.left-top {
    left: -35px;
    top: -40px;
    right: auto;
}

.features-item .features-content .hover-reverse.right-bottom {
    right: 5px;
    bottom: 0;
}

.features-item .features-content .features-img {
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    background-clip: content-box;
    width: 340px;
    height: 340px;
    margin: 0 auto;
    border: 13px solid rgba(255, 255, 255, 0.75);
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.features-item .features-content .features-img img {
    position: absolute;
    z-index: 1;
    -webkit-transition: width 0.5s ease;
    transition: width 0.5s ease;
    width: 90%;
}

.features-item .features-content .features-img:after {
    content: '';
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #fff;
    border-radius: 50%;
}

.features-item .features-content .features-img .shine img {
    left: 50px;
    top: -10px;
}

.features-item:hover h3 {
    color: #B9653E;
}

.features-item:hover .hover-reverse.left-top {
    left: 60% !important;
}

.features-item:hover .hover-reverse.right-bottom {
    right: 60% !important;
}

.features-item:hover .features-img {
    background-size: 120% !important;
}

.features-item:hover .features-img img {
    width: 100%;
}

.features-item .watermark {
    position: absolute;
    left: -10%;
    top: 20%;
}

.coop {
    padding: 155px 0 65px;
    position: relative;
}

.coop .container {
    position: relative;
}

.coop .container .leaves img:nth-child(1) {
    top: 30%;
    left: -10%;
}

.coop .container .leaves img:nth-child(2) {
    left: 20%;
    top: -10%;
}

.coop .container .leaves img:nth-child(3) {
    right: 32%;
    top: 14%;
}

.coop .container .leaves img:nth-child(4) {
    top: 10%;
    right: -4%;
}

.coop .container .leaves img:nth-child(5) {
    bottom: -10%;
    right: 25%;
}

.coop .container .leaves img:nth-child(6) {
    bottom: -7%;
    left: 3%;
}

.coop-wrap {
    background: url("../img/coop-bg.png") no-repeat center top/cover;
    padding: 31px 34px;
    position: relative;
    z-index: 1;
}

.coop-wrap .section-title {
    color: inherit;
}

.coop-wrap .coop-content {
    padding: 85px 45px 40px;
    text-align: center;
    background: radial-gradient(116.11% 112.73% at 50% 50%, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0) 100%), rgba(243, 236, 233, 0.55);
}

.coop-wrap .coop-content .btn {
    margin: 0 auto;
}

.coop-wrap .coop-icon {
    position: absolute;
    left: 0;
    right: 0;
    top: -45px;
    margin: 0 auto;
    width: 124px;
    height: 124px;
    background: radial-gradient(77.86% 72.61% at 50% 27.39%, #FFFFFF 0%, rgba(255, 255, 255, 0.85) 100%);
    -webkit-box-shadow: 0px 10px 20px rgba(75, 58, 51, 0.2);
    box-shadow: 0px 10px 20px rgba(75, 58, 51, 0.2);
    border: 5px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.coop-wrap .shine img {
    top: -22%;
    right: 11%;
    max-width: 400px;
}

.coop-list {
    margin: 65px 0 45px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
}

.coop-list > div:nth-child(3n+2) {
    margin-top: 35px;
}

.coop-list .coop-item {
    min-height: 240px;
    padding: 50px 40px 30px;
    background: url("../img/coop-bg-item.png") no-repeat center top/cover;
    border-radius: 20px;
    position: relative;
}

.coop-list .coop-item h3 {
    color: #B9653E;
    line-height: 1.4;
    font-size: 24px;
    margin-bottom: 20px;
}

.coop-list .coop-item .coop-item-icon {
    width: 72px;
    height: 72px;
    background: radial-gradient(77.86% 72.61% at 50% 27.39%, #FFFFFF 0%, rgba(255, 255, 255, 0.85) 100%);
    border-radius: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -60px;
    -webkit-box-shadow: 0px 10px 20px rgba(75, 58, 51, 0.2);
    box-shadow: 0px 10px 20px rgba(75, 58, 51, 0.2);
}

.advantage {
    padding: 110px 0 80px;
}

.advantage .section-title {
    color: #fff;
}

.advantage-list {
    margin-top: 40px;
}

.advantage-list > div:nth-child(3n+2) {
    margin-top: 30px;
}

.advantage-item {
    position: relative;
    border: 5px solid #B9653E;
    padding: 25px 50px 35px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    -webkit-box-shadow: 0px 20px 40px rgba(75, 58, 51, 0.3);
    box-shadow: 0px 20px 40px rgba(75, 58, 51, 0.3);
}

.advantage-item span {
    font-weight: 500;
    font-size: 74px;
}

.advantage-item h3 {
    margin-top: 9px;
    line-height: 1.15;
}

.advantage-item p {
    margin-top: 15px;
}

.advantage-item .shine img {
    max-width: 90px;
    left: 50%;
    top: 0;
}

.interest {
    padding: 95px 0;
    position: relative;
}

.interest .container {
    position: relative;
}

.interest .container .leaves img:nth-child(1) {
    top: 10%;
    left: -2%;
}

.interest .container .leaves img:nth-child(2) {
    left: 8%;
    top: -8%;
}

.interest .container .leaves img:nth-child(3) {
    right: 5%;
    top: -9%;
}

.interest .container .leaves img:nth-child(4) {
    top: 30%;
    right: -4%;
}

.interest .section-title {
    color: #fff;
}

.interest .section-title p {
    font-size: 24px;
}

.interest-contact {
    margin-top: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: url("../img/interest-bg.png") no-repeat center top/cover;
    padding: 0 60px 65px;
}

.interest-contact .row {
    width: 100%;
}

.interest-contact .row > div {
    z-index: 15;
}

.interest-contact .shine img {
    left: 16%;
    top: -50%;
    max-width: 300px;
}

.interest-item {
    text-align: center;
}

.interest-item a {
    color: #fff;
}

.interest-item .interest-icon {
    width: 88px;
    height: 88px;
    border: 3px solid #B9653E;
    border-radius: 50%;
    -webkit-filter: drop-shadow(0px 0px 15px #B2633E);
    filter: drop-shadow(0px 0px 15px #B2633E);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    margin: -40px auto 0;
    position: relative;
    -webkit-transition: border-color 0.5s ease;
    transition: border-color 0.5s ease;
}

.interest-item .interest-icon div {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
}

.interest-item .interest-icon div svg {
    position: relative;
    z-index: 1;
}

.interest-item .interest-icon div:after {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    content: '';
    position: absolute;
    display: block;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: radial-gradient(83.9% 100% at 50% 0%, #C7724A 0%, #B2633E 100%);
    -webkit-box-shadow: 0px 5px 10px rgba(75, 58, 51, 0.4);
    box-shadow: 0px 5px 10px rgba(75, 58, 51, 0.4);
}

.interest-item .interest-icon span {
    position: absolute;
    top: -10px;
    right: 0;
    width: 30px;
    height: 30px;
    color: #B9653E;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.85)), to(#FFFFFF));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.85) 0%, #FFFFFF 100%);
    border: 2px solid #FFFFFF;
    -webkit-box-shadow: 0px 5px 10px rgba(75, 58, 51, 0.4);
    box-shadow: 0px 5px 10px rgba(75, 58, 51, 0.4);
    border-radius: 50%;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
}

.interest-item .interest-icon:hover {
    border-color: #fff;
}

.interest-item .interest-icon:hover div:after {
    width: 70px;
    height: 70px;
}

.interest-item .interest-link {
    margin-top: 45px;
    font-size: 34px;
    font-weight: 500;
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

.interest-item .interest-link:hover {
    color: #B9653E;
}

.interest-item > span {
    display: block;
    margin-top: 10px;
    color: #fff;
}

.becomePartners .container {
    position: relative;
}

.becomePartners .container .leaves img:nth-child(1) {
    top: 65%;
    left: -8%;
}

.becomePartners .container .leaves img:nth-child(2) {
    left: 8%;
    top: -4%;
}

.becomePartners .container .leaves img:nth-child(3) {
    right: 12%;
    top: -2%;
}

.becomePartners .container .leaves img:nth-child(4) {
    top: 60%;
    right: -4%;
}

.becomePartners .container .leaves img:nth-child(5) {
    right: 15%;
    bottom: -5%;
}

.becomePartners .container .leaves img:nth-child(6) {
    bottom: -7%;
    left: 25%;
}

.becomePartners .section-title {
    color: #23282C;
}

.becomePartners-wrap {
    background: url("../img/form-bg.png") no-repeat center top/cover;
    padding: 31px 34px;
    position: relative;
    z-index: 1;
}

.becomePartners-wrap .shine img {
    top: -15%;
    right: 12%;
    max-width: 350px;
}

.form {
    padding: 90px 40px 80px;
    background: radial-gradient(176.75% 98.59% at 50% 64.14%, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0) 100%), rgba(243, 236, 233, 0.65);
}

.form .section-title p {
    font-size: 24px;
    max-width: 90%;
    font-weight: 500;
}

.form .form-wrap {
    margin-top: 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.form .form-wrap .input-wrap {
    margin-bottom: 35px;
}

.form .form-wrap .input-wrap:last-child {
    margin-bottom: 0;
}

.form .form-wrap textarea {
    width: 100%;
}

.form .form-submit {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.form .form-submit .form-check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.form .form-submit .form-check p {
    margin-left: 22px;
    font-weight: 500;
}

.form .form-submit .btn {
    max-width: 370px;
    width: 100%;
}

.form .form-submit .btn input {
    width: 100%;
    height: 100%;
    background: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    height: 48px;
}

.form .form-submit .btn:hover input {
    color: #B9653E;
    cursor: pointer;
}

.testDelivery {
    padding: 75px 0;
}

.testDelivery-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.testDelivery-wrap .testDelivery-icon {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.testDelivery-wrap .testDelivery-icon div {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    min-width: 107px;
    height: 107px;
    border: 3px solid #B9653E;
    background: rgba(185, 101, 62, 0.1);
    -webkit-box-shadow: 0px 0px 10px rgba(185, 101, 62, 0.4);
    box-shadow: 0px 0px 10px rgba(185, 101, 62, 0.4);
    background-blend-mode: multiply;
}

.testDelivery-wrap .testDelivery-icon.left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.testDelivery-wrap .testDelivery-icon.left div {
    margin-left: -25px;
}

.testDelivery-wrap .testDelivery-icon.left img {
    max-width: 144px;
}

.testDelivery-wrap .testDelivery-icon.right div {
    margin-right: -25px;
}

.testDelivery-wrap h2 {
    width: 50%;
    font-size: 34px;
    text-align: center;
    color: #fff;
}

.testDelivery-wrap h2 span {
    color: #B9653E;
}

.partners {
    padding: 85px 0;
}

.partners .section-title {
    color: #fff;
}

.partners-slider {
    margin-top: 30px;
    position: relative;
}

.partners-slider .partners-slide {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px 15px;
    background: radial-gradient(85.41% 100% at 50% 0%, rgba(255, 255, 255, 0.75) 0%, #E9D4CA 0.01%, #FFFFFF 100%);
    -webkit-box-shadow: 0px 0px 15px #B2633E;
    box-shadow: 0px 0px 15px #B2633E;
    border-radius: 30px;
    margin: 20px 15px;
    border-radius: 50% / 10%;
}

.partners-slider .partners-slide.top {
    margin-top: 50px;
}

.partners-slider .arrow {
    position: absolute;
    top: 35%;
}

.partners-slider .arrow.arrow-left {
    left: -100px;
}

.partners-slider .arrow.arrow-right {
    right: -100px;
}

.catalog {
    padding: 80px 0;
}

.catalog .container {
    position: relative;
}

.catalog .container .leaves img:nth-child(1) {
    top: 120px;
    left: -80px;
}

.catalog .container .leaves img:nth-child(2) {
    left: -60px;
    top: -60px;
}

.catalog .container .leaves img:nth-child(3) {
    left: 150px;
    top: -70px;
}

.catalog .container .leaves img:nth-child(4) {
    top: 100px;
    left: 200px;
}

.catalog .container .leaves img:nth-child(5) {
    top: 140px;
    left: 0;
}

.catalog .section-title {
    position: relative;
}

.catalog .section-title h1 {
    text-align: left;
    margin-bottom: 0;
}

.catalog .section-title h1:after {
    margin-left: 0;
}

.catalog .section-title .watermark {
    position: absolute;
    top: -50px;
    left: 200px;
    opacity: .5;
}

.catalog-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -15px;
}

.catalog-nav li {
    margin: 15px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-radius: 50% / 10%;
    text-overflow: clip;
    background: rgba(35, 40, 44, 0.6);
    border: 2px solid #B9653E;
    padding: 6px;
}

.catalog-nav li a {
    color: #fff;
    font-size: 24px;
    padding: 7px 26px;
    border-radius: 50% / 10%;
}

.catalog-nav li:hover, .catalog-nav li.active {
    background: transparent;
}

.catalog-nav li:hover a, .catalog-nav li.active a {
    color: #B9653E;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(#FFFFFF));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, #FFFFFF 100%);
    -webkit-box-shadow: 0px 0px 35px rgba(178, 99, 62, 0.6);
    box-shadow: 0px 0px 35px rgba(178, 99, 62, 0.6);
}

.catalog-list {
    display: none;
    margin-top: 165px;
}

.catalog-list.active {
    display: block;
}

.catalog-list .row {
    margin-bottom: -180px;
}

.catalog-list .row > li {
    margin-bottom: 180px;
}


.item {
    max-width: 550px;
    background: #e2e2e2;
    -webkit-box-shadow: 0px 20px 40px rgba(75, 58, 51, 0.3);
    box-shadow: 0px 20px 40px rgba(75, 58, 51, 0.3);
    padding: 16px;
    border-radius: 50% / 5%;
    position: relative;
}

.item .link-item {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.item .item-wrap {
    background: #fff;
    padding: 40px 32px 10px;
    border-radius: 50% / 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.item .item-wrap .item-img {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    max-width: 85%;
    margin-top: -55%;
    position: relative;
}

.item .item-wrap .item-img:after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    top: 10%;
    right: 5%;
    background: url("../img/shine.png") no-repeat center/cover;
    mix-blend-mode: screen;
    pointer-events: none;
}

.item .item-wrap .item-desc {
    text-align: center;
}

.item .item-wrap .item-desc h3 {
    font-size: 24px;
}

.item .item-wrap .item-desc .item-divider {
    margin: 10px 0;
}

.item .item-wrap .item-desc p {
    max-height: 63px;
    overflow-y: hidden;
}

.item .item-wrap .item-desc a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: -35px;
    opacity: 0;
    color: #B9653E;
    font-weight: 500;
    position: relative;
    z-index: 3;
}

.item .item-wrap .item-desc a span {
    text-decoration: underline;
}

.item .item-wrap .item-desc a svg {
    margin-left: 8px;
}

.item .item-wrap .item-desc a svg path {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    stroke: #B9653E;
}

.item .item-wrap .item-desc a:hover {
    color: #000;
}

.item .item-wrap .item-desc a:hover svg path {
    stroke: #000;
}

.item .item-wrap .item-desc > span {
    display: block;
    max-width: 100px;
    margin: 30px auto -45px;
    color: #fff;
    font-weight: 500;
    padding: 8px 20px;
    background: radial-gradient(100% 100% at 50% 0%, #C7724A 0%, #B2633E 100%);
    -webkit-box-shadow: 0px 7px 15px rgba(88, 47, 28, 0.2);
    box-shadow: 0px 7px 15px rgba(88, 47, 28, 0.2);
    border-radius: 50% / 5%;
}

.catalog-pag {
    margin-top: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.catalog-pag li {
    margin: 0 8px;
}

.catalog-pag li a {
    background: transparent;
    color: #fff;
    border-width: 3px;
}

.catalog-pag li.active a, .catalog-pag li:hover a {
    color: #B9653E;
    border-width: 8px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(#FFFFFF));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, #FFFFFF 100%);
}

.productDesc {
    padding: 80px 0;
}

.productDesc .container {
    position: relative;
}

.productDesc .container .leaves img:nth-child(1) {
    top: 120px;
    left: -80px;
}

.productDesc .container .leaves img:nth-child(2) {
    left: -60px;
    top: -60px;
}

.productDesc .container .leaves img:nth-child(3) {
    left: 150px;
    top: -70px;
}

.productDesc .container .leaves img:nth-child(4) {
    top: 130px;
    left: 200px;
}

.productDesc .container .leaves img:nth-child(5) {
    top: 180px;
    left: 0;
}

.productDesc .section-title {
    text-align: left;
}

.productDesc .section-title h1:after {
    margin-left: 0;
    margin-top: 40px;
}

.product {
    margin-top: 70px;
    padding: 30px;
    background: radial-gradient(97.73% 50.46% at 50% 0%, rgba(255, 255, 255, 0.75) 0%, #FFFFFF 100%);
    opacity: 0.95;
    -webkit-box-shadow: 0px 20px 40px rgba(75, 58, 51, 0.3);
    box-shadow: 0px 20px 40px rgba(75, 58, 51, 0.3);
}

.product .product-wrap {
    background: radial-gradient(97.73% 50.46% at 50% 0%, rgba(255, 255, 255, 0.75) 0%, #FFFFFF 100%);
    -webkit-box-shadow: 0px 20px 40px rgba(75, 58, 51, 0.3);
    box-shadow: 0px 20px 40px rgba(75, 58, 51, 0.3);
    padding: 55px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.product .product-wrap .product-info {
    width: 45%;
    margin-right: 65px;
}

.product .product-wrap .product-info > p {
    margin-bottom: 30px;
}

.product .product-wrap .product-info .product-consist {
    border: 2px solid rgba(64, 69, 70, 0.15);
    padding: 30px;
    border-radius: 15px;
}

.product .product-wrap .product-info .product-consist > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.product .product-wrap .product-info .product-consist > li h3 {
    font-size: 24px;
}

.product .product-wrap .product-info .product-consist > li.product-consist-capacity {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 25px;
}

.product .product-wrap .product-info .product-consist > li.product-consist-capacity span {
    margin-left: 20px;
    font-weight: 500;
    border: 4px solid #B9653E;
    border-radius: 50%/4%;
    width: 100px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.product .product-wrap .product-info .product-consist > li.product-consist-ingred {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.product .product-wrap .product-info .product-consist > li.product-consist-ingred ul {
    margin-top: 12px;
    padding-left: 19px;
}

.product .product-wrap .product-info .product-consist > li.product-consist-ingred ul li {
    list-style-type: disc;
}

.product .product-wrap .product-photo {
    position: relative;
    max-width: 448px;
}

.product .product-wrap .product-showPrice {
    min-width: 260px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -60px;
    margin: 0 auto;
}

.product-slider {
    position: relative;
}


.product-slider .arrow {
    position: absolute;
    top: 72%;
}

.product-slider .arrow.arrow-left {
    left: -25px;
}

.product-slider .arrow.arrow-right {
    right: -25px;
}

.product-slider .slick-list {
    margin-top: -420px;
}

.product-slider .product-slide {
    margin-top: 150px;
    position: relative;
}

.product-slider .product-slide:after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    top: 11%;
    right: 15%;
    background: url("../img/shine.png") no-repeat center/cover;
}

.recent {
    padding: 60px 0;
}

.recent-slider {
    position: relative;
}

.recent-slider .slick-list {
    margin-top: -100px;
}

.recent-slider .slick-list .slick-track {
    margin-top: 100px;
}

.recent-slider .recent-slide {
    margin: 100px 16px;
}

.recent-slider .recent-slide.top {
    margin-top: 150px;
}

.recent-slider .arrow {
    position: absolute;
    top: 430px;
}

.recent-slider .arrow.arrow-left {
    left: -90px;
}

.recent-slider .arrow.arrow-right {
    right: -90px;
}

.productPage .benefits {
    padding: 100px 0 110px;
}

.aboutPage .product .product-info p:last-child {
    margin-bottom: 0;
}

.aboutPage .product .product-photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.aboutPage .product .product-photo .product-img {
    margin-top: -400px;
    max-width: 620px;
    width: 100vw;
}

.aboutPage .product .product-photo p {
    margin-top: 20px;
}

.aboutPage .testDelivery .testDelivery-wrap .testDelivery-icon {
    max-width: 15%;
}

.aboutPage .testDelivery .testDelivery-wrap .testDelivery-icon.left img {
    margin-right: auto;
}

.aboutPage .testDelivery .testDelivery-wrap .testDelivery-icon.right img {
    margin-left: auto;
}

.aboutPage .testDelivery .testDelivery-wrap .middle {
    width: 67%;
}

.mission .row > div {
    margin-bottom: 60px;
}

.mission .row > div:nth-child(3n+2) {
    margin-top: 40px;
}

.mission-item {
    position: relative;
    -webkit-box-shadow: 0px 0px 15px #B2633E;
    box-shadow: 0px 0px 15px #B2633E;
    border: 3px solid #B9653E;
    padding: 30px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    min-height: 200px;
}

.mission-item .mission-icon {
    position: absolute;
    top: -45px;
}

.mission-item .mission-year {
    position: absolute;
    bottom: -15px;
    z-index: 2;
    font-size: 18px;
    color: #B9653E;
    font-weight: 500;
    text-shadow: 0px 5px 10px rgba(178, 99, 62, 0.35);
    width: 100px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 7px 15px rgba(88, 47, 28, 0.2);
    box-shadow: 0px 7px 15px rgba(88, 47, 28, 0.2);
    border-radius: 50% / 10%;
}

.mission-item-title {
    background: radial-gradient(85.41% 100% at 50% 0%, rgba(255, 255, 255, 0.75) 0%, #E9D4CA 0.01%, #FFFFFF 100%);
    -webkit-box-shadow: 0px 0px 15px #B2633E;
    box-shadow: 0px 0px 15px #B2633E;
    border: 1px solid #fff;
}

.mission-item-title .mission-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 64px;
    height: 64px;
    background: #fff;
    border-radius: 50%;
}

.mission-item-title h2 {
    color: #23282C;
    margin-bottom: 25px;
    font-size: 34px;
}

.mission-item-title h2 span {
    color: #B9653E;
}

.mission-item-title h2:after {
    content: '';
    width: 72px;
    height: 2px;
    background: #B9653E;
    display: block;
    margin: 22px auto 0;
}

.mission-item-title p {
    color: #23282C;
    font-weight: 500;
    font-size: 18px;
}

.achiev {
    padding: 65px 0;
}

.achiev .section-title {
    margin-bottom: 130px;
}

.achiev-item {
    -webkit-box-shadow: 0px 0px 15px #B2633E;
    box-shadow: 0px 0px 15px #B2633E;
    border: 3px solid #B9653E;
    padding: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}

.achiev-item .achiev-item-wrap {
    background: radial-gradient(97.73% 100% at 50% 0%, rgba(255, 255, 255, 0.75) 0%, #FFFFFF 100%);
    -webkit-box-shadow: 0px 20px 40px rgba(75, 58, 51, 0.3);
    box-shadow: 0px 20px 40px rgba(75, 58, 51, 0.3);
    padding: 110px 45px 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.achiev-item .achiev-item-wrap .achiev-icon {
    position: absolute;
    top: -90px;
    left: 0;
    right: 0;
}

.achiev-item .achiev-item-wrap .achiev-icon img {
    margin: 0 auto;
}

.achiev-item .achiev-item-wrap p {
    margin-top: 30px;
}

.testimonials {
    padding: 65px 0 170px;
}

.testimonials-slider {
    position: relative;
}

.testimonials-slider .testimonials-slider-wrap {
    margin: -50px 0;
}

.testimonials-slider .testimonials-slider-wrap .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 170px 0;
}

.testimonials-slider .testimonials-slider-wrap .testimonials-slide {
    border-radius: 50% / 10%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 0;
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}

.testimonials-slider .testimonials-slider-wrap .testimonials-slide img {
    margin: 0 auto;
}

.testimonials-slider .testimonials-slider-wrap .testimonials-slide:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 50% / 10%;
    width: 100%;
    height: 100%;
}

.testimonials-slider .testimonials-slider-wrap .slick-current + .slick-active {
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
    z-index: 1;
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

.testimonials-slider .arrow {
    position: absolute;
    top: 44%;
}

.testimonials-slider .arrow.arrow-left {
    left: -100px;
}

.testimonials-slider .arrow.arrow-right {
    right: -100px;
}

.team {
    padding: 65px 0 0;
}

.team .container {
    position: relative;
}

.team .container .leaves img:nth-child(1) {
    top: 32%;
    left: -10%;
}

.team .container .leaves img:nth-child(2) {
    left: 10%;
    top: -5%;
}

.team .container .leaves img:nth-child(3) {
    top: 0%;
    right: -5%;
}

.team .container .leaves img:nth-child(4) {
    bottom: -15%;
    right: 15%;
}

.team .container .leaves img:nth-child(5) {
    bottom: -4%;
    left: 32%;
}

.team .container .leaves img:nth-child(6) {
    bottom: -14%;
    left: -2%;
}

.team .row > div {
    margin: 15px 0;
}

.team .row > div:nth-child(2n - 1) .team-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.team .row > div:nth-child(2n - 1) .team-item .team-img img {
    margin-right: auto;
    margin-left: 0;
}

.team-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: radial-gradient(77.86% 72.61% at 50% 27.39%, #FFFFFF 0%, rgba(255, 255, 255, 0.85) 100%);
    -webkit-box-shadow: 0px 20px 80px rgba(118, 96, 86, 0.3);
    box-shadow: 0px 20px 80px rgba(118, 96, 86, 0.3);
    max-height: 280px;
    margin-top: 30px;
    height: 100%;
    position: relative;
}

.team-item .team-img {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: hidden;
    position: absolute;
    z-index: 0;
    left: 0;
    top: -30px;
    height: calc(100% + 30px);
    width: 100%;
}

.team-item .team-img img {
    height: 100%;
    margin-left: auto;
}

.team-item .team-info {
    position: relative;
    z-index: 1;
    max-width: 330px;
    padding: 45px 15px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.team-item .team-info h2 {
    font-size: 34px;
    line-height: 1.15;
}

.team-item .team-info p {
    font-size: 18px;
    font-weight: 500;
    margin: 15px 0 25px;
}

.team-item .team-info a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: #B9653E;
    font-weight: 500;
    color: #fff;
    border-radius: 50% / 5%;
    padding: 5px 10px;
}

.team-item .team-info a:hover {
    background: transparent;
    color: #B9653E;
}

.vacancy {
    padding: 130px 0 65px;
}

.vacancy-list {
    margin-top: 50px;
}

.vacancy-list .vacancy-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    min-height: 190px;
    background: radial-gradient(107.24% 100% at 50% 0%, #FFFFFF 0%, rgba(255, 255, 255, 0.85) 100%);
    -webkit-box-shadow: 0px 20px 80px rgba(118, 96, 86, 0.3);
    box-shadow: 0px 20px 80px rgba(118, 96, 86, 0.3);
    margin-bottom: 30px;
}

.vacancy-list .vacancy-item > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.vacancy-list .vacancy-item .vacancy-title {
    width: 30%;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.vacancy-list .vacancy-item .vacancy-title:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: #000;
    opacity: .1;
    right: 0;
    top: 0;
}

.vacancy-list .vacancy-item .vacancy-desc {
    width: 70%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 50px;
}

.vacancy-btn {
    margin: 0 auto;
}

.footer {
    margin-top: 70px;
    padding: 75px 0;
    background: url("../img/footer-bg.png") no-repeat center top/cover;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.footer .menu-item-has-children .submenu {
    top: 0;
    -webkit-transform: translateY(-100%) scaleY(0);
    transform: translateY(-100%) scaleY(0)
}

.footer .menu-item-has-children:hover .submenu {
    -webkit-transform: translateY(-100%) scaleY(1);
    transform: translateY(-100%) scaleY(1)
}

.footer-menu {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 45px;
}

.footer-menu li {
    margin-bottom: 15px;
}

.footer-menu li:hover .submenu {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    z-index: 20;
}

.footer-menu li:hover a svg {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.footer-menu li:hover a svg path {
    fill: #B9653E;
}

.footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer-social li {
    margin: 0 35px;
}

.footer-social li svg path {
    fill: #fff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.footer-social li:hover svg path {
    fill: #B9653E;
}

.footer-company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.review a:not(.btn-brown) {
    color: #B9653E;
}

.link-agreement {
    position: relative;
    color: #23282C;
    transition: .3s;

}

.link-agreement:after {
    content: '';
    height: 1px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -2px;
    background: transparent;
    transition: .3s;
}

.link-agreement:hover {
    color: #B9653E;
}

.link-agreement:hover:after {
    background: #B9653E;
}


@media screen and (max-width: 1450px) {
    .partners-slider .arrow {
        top: 100%;
    }

    .partners-slider .arrow.arrow-left {
        left: 5%;
    }

    .partners-slider .arrow.arrow-right {
        right: 5%;
    }

    .recent-slider .arrow {
        top: 90%;
    }

    .recent-slider .arrow.arrow-left {
        left: 5%;
    }

    .recent-slider .arrow.arrow-right {
        right: 5%;
    }

    .testimonials-slider .arrow {
        top: 90%;
    }

    .testimonials-slider .arrow.arrow-left {
        left: 5%;
    }

    .testimonials-slider .arrow.arrow-right {
        right: 5%;
    }
}


@media screen and (min-width: 1200px) {
    .header-menu.menu li:hover .submenu {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        z-index: 20;
    }

    .header-menu.menu li:hover a svg {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .header-menu.menu li:hover a svg path {
        fill: #B9653E;
    }

    .item:hover .item-wrap .item-img {
        max-width: 100%;
        margin-top: -80%;
    }

    .item:hover .item-wrap .item-desc a {
        margin-bottom: 0;
        opacity: 1;
    }
}

@media screen and (max-width: 1200px) {
    .burger-menu {
        display: block;
    }

    .header-back {
        display: none;
    }

    .header {
        overflow-x: hidden;
        z-index: 30;
    }

    .header .container, .header .row {
        position: static !important;
    }

    .menu > li .submenu li.active a:after {
        content: none;
    }

    .offer-img {
        margin: 0 auto;
    }

    .collapse-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        opacity: 0;
        -webkit-transform: translateX(110vw);
        transform: translateX(110vw);
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        position: fixed;
        z-index: 40;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        max-width: 100vw;
        padding: 0;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .collapse-mobile.open {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .collapse-mobile .overlay {
        z-index: 41;
        display: block;
    }

    .collapse-mobile .menu {
        overflow-y: scroll;
        position: relative;
        z-index: 42;
        width: 100%;
        min-height: 100vh;
        padding: 100px 0 0;
        max-width: 320px;
        background: #B9653E;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .collapse-mobile .menu > li {
        margin: 0;
        min-height: 50px;
        width: 100%;
        border-bottom: 1px solid #fff;
    }

    .collapse-mobile .menu > li:first-child {
        border-top: 1px solid #fff;
    }

    .collapse-mobile .menu > li:hover a, .collapse-mobile .menu > li.active a {
        color: #fff;
    }

    .collapse-mobile .menu > li .submenu {
        opacity: 0;
        height: 0;
        position: static;
        background: #B9653E;
        border-radius: 0;
        width: 100%;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        height: 0;
        padding: 0;
    }

    .collapse-mobile .menu > li .submenu li {
        min-height: 50px;
        width: 100%;
        margin: 0;
        border-bottom: 1px solid #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .collapse-mobile .menu > li .submenu li:first-child {
        border-top: 1px solid #fff;
    }

    .collapse-mobile .menu > li .submenu li a {
        width: 100%;
        text-shadow: none;
        padding: 0 15px;
    }

    .collapse-mobile .menu > li > a {
        padding: 0 15px;
        width: 100%;
        height: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .collapse-mobile .menu > li > a .open-submenu {
        width: 50px;
        min-height: 50px;
    }

    .collapse-mobile .menu > li > a .open-submenu svg path {
        fill: #fff !important;
    }

    .collapse-mobile .menu > li > a:after {
        content: none;
        display: none;
    }

    .collapse-mobile .menu li .submenu.open {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
        height: 100%;
    }

    .collapse-mobile .menu li:hover > a {
        color: #fff;
        opacity: .7;
    }

    .features .row > div {
        margin-bottom: 110px;
    }

    .features .row > div:nth-child(3n + 2) {
        margin-top: 0;
    }

    .coop {
        padding: 65px 0;
    }

    .coop-wrap .coop-content {
        padding: 85px 20px 40px;
    }

    .coop-list .coop-item {
        padding: 50px 20px 30px;
    }

    .advantage-item {
        padding: 25px 25px 35px;
    }

    .advantage-item h3 {
        font-size: 24px;
    }

    .interest-contact {
        padding: 0 40px 50px;
    }

    .catalog-list {
        margin-top: 150px;
    }

    .catalog-list .row {
        margin-bottom: -90px;
    }

    .catalog-list .row > li {
        margin-bottom: 90px;
    }

    .item .item-wrap .item-desc a {
        margin-bottom: 0;
        opacity: 1;
    }

    .item .item-wrap .item-desc > span {
        margin-bottom: -30px;
    }

    .productDesc .watermark svg {
        margin-left: auto;
        display: block;
    }

    .product-slider .arrow {
        top: 50%;
    }

    .product-slider .slick-list {
        margin-top: 0;
    }

    .product-slider .product-slide {
        margin-top: 0;
    }
}

@media screen and (max-width: 992px) {
    .leaves, .offer-title .watermark {
        display: none;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    .offer {
        padding: 50px 0;
    }

    .offer-img {
        margin-top: 40px;
        max-width: 500px;
    }

    .offer-img > img:nth-child(1) {
        right: -60px;
    }

    .offer-img > img:nth-child(2) {
        left: 0;
    }

    .offer-img > img:nth-child(3) {
        left: -60px;
    }

    .offer-img .shine img:nth-child(1) {
        left: 60px;
    }

    .offer-img .shine img:nth-child(2) {
        left: 160px;
    }

    .offer-img .shine img:nth-child(3) {
        left: 240px;
    }

    .benefits {
        padding: 50px 0 10px;
    }

    .benefits .row > div {
        margin-bottom: 40px;
    }

    .benefits .row > div:nth-child(3n + 2) {
        margin-top: 0;
    }

    .benefits-item {
        min-height: 250px;
    }

    .features-item .features-content {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }

    .coop-wrap .shine img {
        top: -10%;
    }

    .coop-list > div {
        margin-bottom: 80px;
    }

    .coop-list > div:nth-child(3n+2) {
        margin-top: 0;
    }

    .coop-list > div:last-child {
        margin-bottom: 0;
    }

    .coop-list .coop-item .coop-item-icon {
        top: -45px;
    }

    .advantage {
        padding: 65px 0;
    }

    .advantage-list > div {
        margin-bottom: 30px;
    }

    .advantage-list > div:nth-child(3n+2) {
        margin-top: 0;
    }

    .advantage-list > div:last-child {
        margin-bottom: 0;
    }

    .interest {
        padding: 65px 0;
    }

    .interest-contact {
        padding: 35px 20px 35px;
    }

    .interest-contact .shine img {
        top: -140px;
    }

    .interest-item .interest-icon {
        margin-top: 0;
        width: 50px;
        height: 50px;
    }

    .interest-item .interest-icon div svg {
        width: 70%;
    }

    .interest-item .interest-icon div:after {
        width: 36px;
        height: 36px;
    }

    .interest-item .interest-icon span {
        display: none;
    }

    .interest-item .interest-link {
        margin-top: 15px;
        font-size: 20px;
    }

    .interest-item span {
        margin-top: 2px;
    }

    .partners-slider .partners-slide.top {
        margin-top: 20px;
    }

    .testDelivery-wrap {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .testDelivery-wrap .testDelivery-icon {
        width: 45%;
    }

    .testDelivery-wrap .testDelivery-icon.left {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .testDelivery-wrap .testDelivery-icon.right {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .testDelivery-wrap .middle {
        width: 100%;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .catalog .section-title .watermark {
        display: none;
    }

    .catalog-nav {
        margin-top: 50px;
    }

    .catalog-nav li {
        width: 45%;
        text-align: center;
    }

    .recent-slider .recent-slide {
        margin: 80px 16px;
    }

    .recent-slider .recent-slide.top {
        margin-top: 80px;
    }

    .recent-slider .arrow {
        top: 84%;
    }

    .product {
        border-radius: 50%/2%;
    }

    .product-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        border-radius: 50%/2%;
    }

    .product-wrap > div {
        width: 100% !important;
        margin: 0 auto 40px;
    }

    .product-wrap > div:last-child {
        margin-bottom: 0;
    }

    .product-wrap .product-showPrice {
        position: static !important;
        min-width: auto !important;
    }

    .aboutPage .product .product-photo .product-img {
        margin-top: 0;
        width: auto;
    }

    .aboutPage .testDelivery .testDelivery-wrap .testDelivery-icon {
        display: none;
    }

    .aboutPage .testDelivery .testDelivery-wrap .middle {
        width: 100%;
    }

    .achiev .row > div {
        margin-bottom: 120px;
    }

    .achiev .row > div:last-child {
        margin-bottom: 0;
    }

    .testimonials-slider .testimonials-slider-wrap .slick-track {
        margin: 0 0 50px;
    }

    .testimonials-slider .testimonials-slider-wrap .slick-current + .slick-active {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .testimonials-slider .testimonials-slider-wrap .testimonials-slide {
        -webkit-filter: brightness(100%);
        filter: brightness(100%);
    }

    .footer.convex-border {
        background: url("../img/moun-replace-bg.jpg") no-repeat center/cover;
        padding: 60px 0 45px;
    }

    .footer-menu {
        margin-bottom: 30px;
    }

    .footer-logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    .footer-company {
        margin-top: 30px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 21px;
    }

    h4 {
        font-size: 18px;
    }

    .checkbox input {
        width: 24px;
        height: 24px;
    }

    .checkbox input + label:before {
        width: 24px;
        height: 24px;
    }

    .interest-contact {
        background: url("../img/moun-replace-bg.jpg") no-repeat center/cover;
    }

    .interest-contact .row {
        width: auto;
    }

    .interest-contact .row > div:nth-child(n + 2) {
        margin-top: 30px;
    }

    .form-submit {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .form-submit .form-check {
        margin-bottom: 30px;
    }

    .catalog-nav li {
        width: 100%;
    }

    .catalog-list {
        margin-top: 255px;
    }

    .catalog-list .row {
        margin-bottom: -50%;
    }

    .catalog-list .row > li {
        margin-bottom: 50%;
    }

    .item {
        padding: 3px;
    }

    .item .item-wrap {
        padding: 30px 7px 10px;
    }

    .recent-slider .recent-slide {
        margin: 200px 16px;
    }

    .recent-slider .recent-slide.top {
        margin-top: 200px;
    }

    .vacancy-list .vacancy-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .vacancy-list .vacancy-item > div {
        width: 100% !important;
    }

    .vacancy-list .vacancy-item .vacancy-title {
        padding: 30px;
    }

    .vacancy-list .vacancy-item .vacancy-title:after {
        content: none;
    }

    .vacancy-list .vacancy-item .vacancy-desc {
        padding: 0 30px 30px;
    }

    .footer-menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    .shine {
        display: none;
    }

    .section-title p {
        font-size: 16px !important;
    }

    .convex-border {
        border-radius: 50% / 3%;
    }

    .btn span {
        font-size: 13px;
    }

    .offer-img {
        max-width: 100%;
    }

    .features-item .features-content .features-img {
        width: 250px;
        height: 250px;
    }

    .features-item .hover-reverse {
        display: none;
    }

    .coop-wrap {
        padding: 3px 5px;
    }

    .coop-wrap .coop-content {
        padding: 30px 5px;
    }

    .coop-wrap .coop-content .section-title {
        margin-top: 70px;
    }

    .testDelivery {
        padding: 75px 0 65px;
    }

    .testDelivery-wrap > * {
        width: 100% !important;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 15px;
    }

    .testDelivery-wrap > *.middle {
        margin-bottom: 0;
    }

    .becomePartners-wrap {
        padding: 3px 5px;
    }

    .form {
        padding: 40px 10px;
    }

    .form .btn input {
        font-size: 13px !important;
    }

    .interest-contact {
        margin-top: 30px;
    }

    .partners {
        padding: 50px 0 65px;
    }

    .recent-slider .recent-slide {
        margin: 3.5% 16px;
    }

    .recent-slider .recent-slide.top {
        margin-top: 3.5%;
    }

    .product {
        padding: 4px;
    }

    .product-wrap {
        padding: 45px 15px !important;
    }

    .product-wrap > div {
        width: 100% !important;
        margin: 0 auto 40px;
    }

    .product-wrap > div:last-child {
        margin-bottom: 0;
    }

    .team-item {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        max-height: 100%;
    }

    .team-item .team-img {
        max-width: 320px;
        margin: -30px auto 0;
        position: static;
        height: auto;
        border-radius: 0;
    }

    .team-item .team-img img {
        height: auto;
    }

    .footer-social li {
        margin: 0 20px;
    }
}

@media screen and (max-width: 400px) {
    .advantage-item {
        background-size: auto;
    }
}

/*# sourceMappingURL=main.css.map */

.scroll-top {
    padding: 8px;
    position: fixed;
    left: 15px;
    bottom: 15px;
    transform: rotate(-90deg);
    width: 54px;
    height: 54px;
    z-index: 999;
    border: 2px solid #B9653E;
}
.scroll-top .btn-icon{
    height: 40px;
    max-width: 40px;
    min-width: 40px;
}

.section
{
	color: #FFF;
}

.section .container .review__text a
{
	display: inline-block;
}