$primary: #B9653E;


// @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face {
    font-family: 'TT Firs Neue';
    src: local('TT Firs Neue Regular'), local('TT-Firs-Neue-Regular'),
        url('../fonts/TTFirsNeue-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TT Firs Neue';
    src: local('TT Firs Neue Demi Bold'), local('TT-Firs-Neue-Demi-Bold'),
        url('../fonts/TTFirsNeue-DemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TT Firs Neue';
    src: local('TT Firs Neue Bold'), local('TT-Firs-Neue-Bold'),
        url('../fonts/TTFirsNeue-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TT Firs Neue';
    color: #23282C;
    background: url('../img/body-bg.jpg') no-repeat center top / cover;
}
div, input, a {
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6, p {
    margin: 0;
    
}
h1,h2,h3,h4,h5,h6 {
    line-height: 1.02;
}
p {
    line-height: 1.35;
}
h1,h2,h3 {
    font-weight: bold;
    font-family: 'TT Firs Neue';
}
h4 {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 62px;
}
h2 {
    font-size: 42px;
}
h3 {
    font-size: 34px;
}
h4 {
    font-size: 24px;
}
.section-title {

}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    transition: all 0.5s ease;
    display: block;
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
}
input, button, textarea {
    font-family: 'TT Firs Neue';
    width: 100%;
    display: block;
    border: 0;
    outline: none;
    border-radius: 30px;
    transition: all 0.5s ease;
}
textarea {
    padding-top: 20px !important;
    resize: none;
}
.slick-slide:focus {
    outline: none;
}

// Modules

.breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    li {
        display: flex;
        align-items: center;
        margin-right: 15px;
        &.active {
            color: #8F837B;
        }
        a {
            color: #fff;
            svg {
                margin-right: 15px;
                stop {
                    transition: all 0.5s ease;
                }
            }
            & + svg {
                margin-left: 15px;
            }
        }
        &:hover {
            a {
                color: $primary;
                svg stop{
                    stop-color: $primary;
                }
            }
        }
    }
}
.collapse-mobile .overlay {
    display: none;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}
.nav-icon {
    border: 8px solid $primary;
    border-radius: 50%;
    box-shadow: 0px 20px 40px rgba(75, 58, 51, 0.3);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-weight: 500;
    color: $primary;
    position: relative;
    background-size: 50%;
    div {
        display: flex;
        align-items: center;
        justify-content: center; 
        min-width: 46px;
        height: 46px;
        border-radius: 50%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, #FFFFFF 100%);
    }
    svg {
        transition: all 0.5s ease;
    }
    &:hover {
        border: 3px solid $primary;
        div {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, #FFFFFF 100%);
            box-shadow: 0px 20px 40px rgba(75, 58, 51, 0.3);
        }
        svg {
            margin-left: -10px;
            path {
                transition: all 0.5s ease;
            }
        }
    }
}
.nav-icon.mod {
    border-color: #fff;
    div {
        background: radial-gradient(100% 100% at 50% 0%, #C7724A 0%, #B2633E 100%);
    }
    &:hover {
        border-color: $primary;
        div {
            background: #fff;
            svg {
                path {
                    stroke: $primary;
                }
            }
        }
    }
}
.nav-icon.arrow-right {
    &:hover {
        svg {
            margin-left: 0;
            margin-right: -10px;
        }
    }
}
.input {
    background: rgba(55, 58, 45, 0.03);
    background-blend-mode: multiply;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: inset 0px -4px 15px rgba(118, 96, 86, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    height: 64px;
    padding: 0 20px;
    &::placeholder {
        font-size: 16px;
    }
    &:hover, &:focus {
        border: 3px solid $primary;
    }
}
textarea.input {
    min-height: 175px;
}
.checkbox {
    input {
        cursor: pointer;
        width: 38px;
        height: 38px;
        position: absolute;
        opacity: 0;
    }
    input {
        & + label {
            user-select: none;
            font-weight: 700;
            &:before {
                content: '\2713';
                width: 38px;
                height: 38px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                color: transparent;
                border: 3px solid $primary;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, #FFFFFF 100%);
                box-shadow: 0px 10px 20px rgba(75, 58, 51, 0.2);
                border-radius: 10px;
            }
        }
        &:checked + label:before {
            background: $primary;
            color: #fff;
        }
    }
}
.section-title {
    text-align: center;
    color: #fff;
    & > h1 {
        margin-bottom: 25px;
        span {
            color: $primary;
        }
    }
    & > p {
        max-width: 700px;
        margin: 0 auto;
    }
    &.title-line {
        h1:after {
            content: '';
            width: 72px;
            height: 2px;
            background: $primary;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 15px;
        }
    }
}
.menu {
    display: flex;
    align-items: center;
    & > li {
        position: relative;
        min-height: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & > a {
            position: relative;
            font-family: 'TT Firs Neue';
            display: flex;
            align-items: center;
            font-weight: 500;
            color: #fff;
            font-size: 18px;
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                background: #fff;
                left: 0;
                bottom: -1px;
                transition: background 0.5s ease;
            }
        }
        &:hover, &.active {
            a {
                color: $primary;
                
                &:after {
                    background: $primary;
                }
            }
        }
        .submenu {
            top: 40px;
            z-index: 50;
            transform: scaleY(0);
            position: absolute;
            min-width: 270px;
            max-width: 400px;
            background: radial-gradient(100% 100% at 50% 0%, #C7724A 0%, #B2633E 100%);
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            transition: all 0.5s ease;
            li {
                margin-bottom: 20px;
                a {
                    position: relative;
                    font-family: 'TT Firs Neue';
                    font-weight: 500;
                    color: #fff;
                    font-size: 18px;
                    text-shadow: 0px 5px 10px rgba(75, 58, 51, 0.4);
                }
                &.active {
                    a {
                        &:after {
                            content: '';
                            position: absolute;
                            height: 1px;
                            width: 100%;
                            left: 0;
                            bottom: -3px;
                            background: #fff;
                        }
                    }
                }
            }
        }
    }
    li a {
        .open-submenu {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 7px;
            svg {
                transition: transform 0.5s ease;
                path {
                    transition: fill 0.5s ease;
                }
            }
            &.open {
                svg {
                    transform: rotate(180deg);
                }
                
            }
        }
    }
}
.burger-menu {
    display: none;
    position: relative;
    z-index: 50;
    max-width: 30px;
    margin-left: auto;
    cursor: pointer;
    svg {
        transition: all 0.5s ease;
        fill: $primary;
    }
    &.open {
        svg {
            fill: #fff;
        }
    }
}
.btn {
    cursor: pointer;
    width: fit-content;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid $primary;
    padding: 8px 15px 8px 8px;
    box-shadow: 0px 20px 40px rgba(75, 58, 51, 0.3);
    border-radius: 95px;
    font-size: 20px;
    font-weight: 500;
    .btn-icon {
        position: relative;
        min-width: 48px;
        max-width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: auto;
        svg {
            position: relative;
            z-index: 1;
        }
        &:after {
            content: '';
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.45) 0%, #FFFFFF 100% );
            position: absolute;
            left: 0;
            border-radius: 50%;
            opacity: .3;
            z-index: 0;
            transition: all 0.5s ease;
        }
    }
    span {
        position: relative;
        margin-left: 15px;
        width: 100%;
        text-align: center;
    }
}
.btn-brown {
    background: radial-gradient(100% 100% at 50% 0%, #C7724A 0%, #B2633E 100%);
    color: #fff;
    .btn-icon {
       
    }
    &:hover {
        background: radial-gradient(100% 100% at 50% 0%, #fff 0%, #fff 100%);
        color: $primary;
        .btn-icon{
            &::after {
                background: radial-gradient(100% 100% at 50% 0%, #C7724A 0%, #B2633E 100%);
                opacity: 1;
            }
        }
    }
}
.btn-transp {
    background: radial-gradient(100% 100% at 50% 0%, #C7724A 0%, #B2633E 100%);
    color: #fff;
    &:hover {
        background: radial-gradient(100% 100% at 50% 0%, transparent 0%, transparent 100%);
        .btn-icon {
            svg {
                stop {
                    stop-color: #B2633E;
                }
            }
            &::after {
                background: #fff;
                opacity: 1;
            }
        }
    }
}
.convex-border {
    box-sizing: content-box;
    position: relative;
    border-radius: 50% / 8%;
    text-overflow: clip;
}
.slick-dots {
    display: flex;
    justify-content: center;
    li {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #fff;
        margin: 0 4px;
        button {
            opacity: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
    }
    li.slick-active {
        background: $primary;
    }
}
.leaves {
    img {
        position: absolute;
        z-index: 2;
    }
}
.arrow {
    z-index: 22;
}
.shine {
    mix-blend-mode: screen;
    z-index: 10;
    img {
        position: absolute;
    }
}
.watermark.onHover {
    position: relative;
    z-index: 22;
    svg {
        transition: all .5s ease;
        &:hover {
            stroke: $primary;
        }
    }
}

// Header

.header {
    position: relative;
    padding: 36px 0;
    background: transparent;
    .container {
        position: relative;
        .row {
            position: relative;
            z-index: 50;
        }
    }
}
.header-back {
    position: absolute;
    z-index: 0;
    top: -36px;
    right: 165px;
    width: 448px;
    height: 840px;
    img {
        width: 100%;
    }
}
.header-menu {
    & > li {
        margin-left: 65px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-left: auto;
        }
    }
}


// Main Page


// Offer

.offer {
    padding: 75px 0 75px;
}
.offer-title {
    position: relative;
    text-align: left;
    color: #fff;
    h3 {
        font-weight: 500;
    }
    h1 {
        font-weight: bold;
        span {
            color: $primary; 
        }
    }
    .offer-text {
        max-width: 450px;
        margin: 40px 0 0;
        color: #fff;
    }
    &.title-line {
        h1:after {
            margin: 35px 0 0;
        }
    }
    .watermark {
        position: absolute;
        right: -170px;
        top: -55px;
    }
}
.offer-btn {
    margin-top: 40px;
    max-width: 280px;
}
.offer-img {
    margin-top: -110px;
    margin-left: auto;
    margin-right: auto;
    max-width: 660px;
    position: relative;
    display: flex;
    align-items: flex-end;
    & > img {
        width: auto;
        height: auto;
        position: relative;
        transition: all 3s ease;
        animation-name: offerImg;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        &:nth-child(1) {
            right: -120px;
            z-index: 3;
            animation-duration: 2s;
        }
        &:nth-child(2) {
            z-index: 2;
            right: -60px;
            animation-duration: 4s;
            animation-direction: reverse;
        }
        &:nth-child(3) {
            z-index: 1;
            animation-duration: 3s; 
        }
    }
    img.offer-fruits {
        position: absolute;
        left: 40px;
        top: 20%;
    }
    .leaves {
        img:nth-child(1) {
            top: 50%;
            left: -1%;
        }
        img:nth-child(2) {
            left: 22%;
            top: 0%;
        }
        img:nth-child(3) {
            right: 20%;
            top: 0%;
        }
        img:nth-child(4) {
            top: 20%;
            right: 3%;
        }
        img:nth-child(5) {
            bottom: -2%;
            right: 4%;
        }
        img:nth-child(6) {
            bottom: -25%;
            right: 5%;
        }
        img:nth-child(7) {
            bottom: -20%;
            right: 38%;
        }
        img:nth-child(8) {
            bottom: -22%;
            left: 6%;
        }
    }
    .shine {
        img {
            animation-name: offerImg;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        img:nth-child(1) {
           left: 130px;
           top: 230px;
           max-width: 200px;
           animation-duration: 2s;
        }
        img:nth-child(2) {
            left: 220px;
            top: 180px;
            max-width: 250px;
            animation-duration: 4s;
            animation-direction: reverse;
        }
        img:nth-child(3) {
            max-width: 300px;
            left: 300px;
            top: 120px;
            animation-duration: 3s; 
        }
    }
}
@keyframes offerImg {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
    }
}


// Benefits

.benefits {
    padding: 75px 0;
    position: relative;
    z-index: 1;
    .container {
        position: relative;
        .leaves {
            img {
                position: absolute;
            }
            img:nth-child(1) {
                top: 30%;
                left: -2%;
            }
            img:nth-child(2) {
                left: 33%;
                top: -10%;
            }
            img:nth-child(3) {
                right: -3%;
                top: 45%;
            }
            img:nth-child(4) {
                bottom: -15%;
                left: 23%;
                
            }
            img:nth-child(5) {
                bottom: -16%;
                left: 70%;
            }
        }
    }
    .row {
        & > div:nth-child(3n + 2) {
            margin-top: 40px;
        }
    }
}
.benefits-item {
    border: 3px solid $primary;
    padding: 14px;
    min-height: 335px;
    display: flex;
    justify-content: center;
    .benefits-content {
        position: relative;
        background: radial-gradient(85.41% 100% at 50% 0%, rgba(255, 255, 255, 0.75) 0%, #E9D4CA 0.01%, #FFFFFF 100%);
        box-shadow: 0px 0px 15px #B2633E;
        padding: 55px 30px 40px;
        text-align: center;
        width: 100%;
        h3 {
            font-size: 24px;
            position: relative;
            margin-bottom: 25px;
            &:after {
                content: '';
                display: block;
                width: 36px;
                height: 2px;
                background: $primary;
                margin: 25px auto 0;
            }
        }
        p {

        }
        .benefits-icon {
            position: absolute;
            left: 0;
            right: 0;
            top: -35px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            width: 64px;
            height: 64px;
            background: #fff;
            border-radius: 50%;
        }
    }
}


// Features

.features {
    padding: 45px 0 90px;
    .row > div:nth-child(3n + 2) {
        margin-top: 40px;
    }
}
.features-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    h3 {
        text-align: center;
        color: #fff;
        font-weight: 500;
        transition: color 0.5s ease;
        span {
            display: block;
            font-size: 24px;
            margin-bottom: 9px;
        }
    }
    .features-content {
        margin-top: 120px;
        position: relative;
        width: 100%;
        .hover-reverse {
            position: absolute;
            z-index: 0;
            transition: all 0.5s ease;
            &.left-top{
                left: -35px;
                top: -40px;
                right: auto;
            }
            &.right-bottom {
                right: 5px;
                bottom: 0;
            }
        }
        .features-img {
            position: relative;
            z-index: 1;
            background-repeat: no-repeat;
            background-position: center top;
            background-size: 100%;
            background-clip: content-box;
            width: 340px;
            height: 340px;
            margin: 0 auto;
            border: 13px solid rgba(255, 255, 255, 0.75);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.5s ease;
            img {
                position: absolute;
                z-index: 1;
                transition: width 0.5s ease;
                width: 90%;
            }
            &:after {
                content: '';
                position: absolute;
                z-index: 0;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border: 3px solid #fff;
                border-radius: 50%;
            }
            .shine {
                img {
                    left: 50px;
                    top: -10px;
                }
            }
        }
    }
    &:hover {
        h3 {
            color: $primary;
        }
        .hover-reverse {
            &.left-top{
                left: 60% !important;
            }
            &.right-bottom {
                right: 60% !important;
            }
        }
        .features-img {
            background-size: 120% !important;
            img {
                width: 100%;
            }
        }
    }
    .watermark {
        position: absolute;
        left: -10%;
        top: 20%;
    }
}


// Coop

.coop {
    padding: 155px 0 65px;
    position: relative;
    .container {
        position: relative;
        .leaves {
            img:nth-child(1) {
                top: 30%;
                left: -10%;
            }
            img:nth-child(2) {
                left: 20%;
                top: -10%;
            }
            img:nth-child(3) {
                right: 32%;
                top: 14%;
            }
            img:nth-child(4) {
                top: 10%;
                right: -4%;
                
            }
            img:nth-child(5) {
                bottom: -10%;
                right: 25%;
                
            }
            img:nth-child(6) {
                bottom: -7%;
                left: 3%;
            }
        }
    }
}
.coop-wrap {
    background: url('../img/coop-bg.png') no-repeat center top / cover;
    padding: 31px 34px;
    position: relative;
    z-index: 1;
    .section-title {
        color: inherit;
    }
    .coop-content {
        padding: 85px 45px 40px;
        text-align: center;
        background: radial-gradient(116.11% 112.73% at 50% 50%, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0) 100%), rgba(243, 236, 233, 0.55);
        .btn {
            margin: 0 auto;
        }
    }
    .coop-icon {
        position: absolute;
        left: 0;
        right: 0;
        top: -45px;
        margin: 0 auto;
        width: 124px;
        height: 124px;
        background: radial-gradient(77.86% 72.61% at 50% 27.39%, #FFFFFF 0%, rgba(255, 255, 255, 0.85) 100%);
        box-shadow: 0px 10px 20px rgba(75, 58, 51, 0.2);
        border: 5px solid rgba(255, 255, 255, .6);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .shine {
        img {
            top: -22%;
            right: 11%;
            max-width: 400px;
        }
    }
}
.coop-list {
    margin: 65px 0 45px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    & > div:nth-child(3n+2) {
        margin-top: 35px;
    }
    .coop-item {    
        min-height: 240px;
        padding: 50px 40px 30px;
        background: url('../img/coop-bg-item.png') no-repeat center top / cover;
        border-radius: 20px;
        position: relative;
        h3 {
            color: $primary;
            line-height: 1.4;
            font-size: 24px;
            margin-bottom: 20px;
        }
        p {
    
        }
        .coop-item-icon {
            width: 72px;
            height: 72px;
            background: radial-gradient(77.86% 72.61% at 50% 27.39%, #FFFFFF 0%, rgba(255, 255, 255, 0.85) 100%);
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: -60px;
            box-shadow: 0px 10px 20px rgba(75, 58, 51, 0.2);
        }
    }
}


// Advantage

.advantage {
    padding: 110px 0 80px;
    .section-title {
        color: #fff;
    }
}
.advantage-list {
    margin-top: 40px;
    & > div:nth-child(3n+2) {
        margin-top: 30px;
    }
    .advantage-item {
        
    }
}
.advantage-item {
    position: relative;
    border: 5px solid $primary;
    padding: 25px 50px 35px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    box-shadow: 0px 20px 40px rgba(75, 58, 51, 0.3);
    span {
        font-weight: 500;
        font-size: 74px;
    }
    h3 {
        margin-top: 9px;
        line-height: 1.15;
    }
    p {
        margin-top: 15px;
    }
    .shine {
        img {
            max-width: 90px;
            left: 50%;
            top: 0;
        }
    }
}


//  Interest

.interest {
    padding: 95px 0;
    position: relative;
    .container {
        position: relative;
        .leaves {
            img:nth-child(1) {
                top: 10%;
                left: -2%;
            }
            img:nth-child(2) {
                left: 8%;
                top: -8%;
            }
            img:nth-child(3) {
                right: 5%;
                top: -9%;
            }
            img:nth-child(4) {
                top: 30%;
                right: -4%; 
            }
        }
    }
    .section-title {
        color: #fff;
        p {
            font-size: 24px;
        }
    }
}
.interest-contact {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
    background: url('../img/interest-bg.png') no-repeat center top /cover;
    padding: 0 60px 65px;
    .row {
        width: 100%;
        & > div {
            z-index: 15;
        }
    }
    .shine {
        img {
            left: 16%;
            top: -50%;
            max-width: 300px;
        }
    }
}
.interest-item {
    text-align: center;
    a {
        color: #fff;
    }
    .interest-icon {
        width: 88px;
        height: 88px;
        border: 3px solid $primary;
        border-radius: 50%;
        filter: drop-shadow(0px 0px 15px #B2633E);
        display: flex;
        align-items: center;
        justify-content: start;
        margin: -40px auto 0;
        position: relative;
        transition: border-color 0.5s ease;
        div {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            svg {
                position: relative;
                z-index: 1;
            }
            &:after {
                transition: all 0.5s ease;
                content: '';
                position: absolute;
                display: block;
                width: 62px;
                height: 62px;
                border-radius: 50%;
                background: radial-gradient(83.9% 100% at 50% 0%, #C7724A 0%, #B2633E 100%);
                box-shadow: 0px 5px 10px rgba(75, 58, 51, 0.4);
            }
        }
        span {
            position: absolute;
            top: -10px;
            right: 0;
            width: 30px;
            height: 30px;
            color: $primary;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.85) 0%, #FFFFFF 100%);
            border: 2px solid #FFFFFF;
            box-shadow: 0px 5px 10px rgba(75, 58, 51, 0.4);
            border-radius: 50%;
            font-weight: 500;
            line-height: 26px;
            text-align: center;
        }
        &:hover {
            border-color: #fff;
            div {
                &:after {
                    width: 70px;
                    height: 70px;
                }
            }
        }
    }
    .interest-link {
        margin-top: 45px;
        font-size: 34px;
        font-weight: 500;
        transition: color 0.5s ease;
        &:hover {
            color: $primary;
        }
    }
    & > span {
        display: block;
        margin-top: 10px;
        color: #fff;
    }
}


// becomePartners

.becomePartners {
    .container {
        position: relative;
        .leaves {
            img:nth-child(1) {
                top: 65%;
                left: -8%;
            }
            img:nth-child(2) {
                left: 8%;
                top: -4%;
            }
            img:nth-child(3) {
                right: 12%;
                top: -2%;
            }
            img:nth-child(4) {
                top: 60%;
                right: -4%; 
            }
            img:nth-child(5) {
                right: 15%;
                bottom: -5%;
            }
            img:nth-child(6) {
                bottom: -7%;
                left: 25%; 
            }
        }
    }
    .section-title {
        color: #23282C;
    }
}
.becomePartners-wrap {
    background: url('../img/form-bg.png') no-repeat center top / cover;
    padding: 31px 34px;
    position: relative;
    z-index: 1;
    .shine {
        img {
            top: -15%;
            right: 12%;
            max-width: 350px;
        }
    }
}
.form {
    padding: 90px 40px 110px;
    background: radial-gradient(176.75% 98.59% at 50% 64.14%, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0) 100%), rgba(243, 236, 233, 0.65);
    .section-title {
        p {
            font-size: 24px;
            max-width: 90%;
            font-weight: 500;
        }
    }
    .form-wrap {
        margin-top: 40px;
        justify-content: center;
        .input-wrap {
            margin-bottom: 35px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        textarea {
            width: 100%;
        }
    }
    .form-submit {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .form-check {
            display: flex;
            align-items: center;
            p {
                margin-left: 22px;
                font-weight: 500;
            }
        }
        .btn {
            max-width: 370px;
            width: 100%;
            input {
                width: 100%;
                height: 100%;
                background: transparent;
                color: #fff;
                font-size: 20px;
                font-weight: 500;
                height: 48px;
            }
            &:hover {
                input {
                    color: $primary;
                    cursor: pointer;
                }
            }
        }
    }
}


// testDelivery

.testDelivery {
    padding: 75px 0;
}
.testDelivery-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .testDelivery-icon {
        width: 20%;
        display: flex;
        align-items: center;
        div {
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content:center;
            border-radius: 50%;
            min-width: 107px;
            height: 107px;
            border: 3px solid $primary;
            background: rgba(185,101,62, 0.1);
            box-shadow: 0px 0px 10px rgba(185, 101, 62, 0.4);
            background-blend-mode: multiply;
        }
        img {
            
        }
        &.left {
            flex-direction: row-reverse;
            div {
                margin-left: -25px;
            }
            img {
                max-width: 144px;
            }

        }
        &.right {
            div {
                margin-right: -25px;
            }
        }
    }
    h2 {
        width: 50%;
        font-size: 34px;
        text-align: center;
        color: #fff;
        span {
            color: $primary;
        }
    }
}


// Partners

.partners {
    padding: 85px 0;
    .section-title {
        color: #fff;
    }
}
.partners-slider {
    margin-top: 30px;
    position: relative;
    .partners-slide {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 15px;
        background: radial-gradient(85.41% 100% at 50% 0%, rgba(255, 255, 255, 0.75) 0%, #E9D4CA 0.01%, #FFFFFF 100%);
        box-shadow: 0px 0px 15px #B2633E;
        border-radius: 30px;
        margin: 20px 15px;
        border-radius: 50% / 10%;
        &.top {
            margin-top: 50px;
        }
    }
    .arrow {
        position: absolute;
        top: 35%;
        &.arrow-left {
            left: -100px;
        }
        &.arrow-right {
            right: -100px;
        }
    }
}


// Catalog page


// Catalog
.catalog {
    padding: 80px 0;
    .container {
        position: relative;
        .leaves {
            img:nth-child(1) {
                top: 120px;
                left: -80px;
            }
            img:nth-child(2) {
                left: -60px;
                top: -60px;
            }
            img:nth-child(3) {
                left: 150px;
                top: -70px;
            }
            img:nth-child(4) {
                top: 100px;
                left: 200px; 
            }
            img:nth-child(5) {
                top: 140px;
                left: 0;
            }
        }
    }
    .section-title {
        position: relative;
        h1 {
            text-align: left;
            margin-bottom: 0;
            &:after {
                margin-left: 0;
            }
        }
        .watermark {
            position: absolute;
            top: -50px;
            left: 200px;
            opacity: .5;
        }
    }
}
.catalog-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -15px;
    li {
        margin: 15px;
        transition: all 0.5s ease;
        border-radius: 50% / 10%;
        text-overflow: clip;
        background: rgba(35, 40, 44, 0.6);
        border: 2px solid $primary;
        padding: 6px;
        a {
            color: #fff;
            font-size: 24px;
            padding: 7px 26px;
            border-radius: 50% / 10%;
        }
    }
    li:hover, li.active {
        background: transparent;
        a {
            color: $primary;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, #FFFFFF 100%);
            box-shadow: 0px 0px 35px rgba(178, 99, 62, 0.6);
        }
    }
}
.catalog-list {
    display: none;
    margin-top: 165px;
    &.active {
        display: block;
    }
    .row {
        margin-bottom: -180px;
        > li {
            margin-bottom: 180px;
        }
    }
}
.item {
    max-width: 550px;
    background: #e2e2e2;
    box-shadow: 0px 20px 40px rgba(75, 58, 51, 0.3);
    padding: 16px;
    border-radius: 50% / 5%;
    .item-wrap {
        background: #fff;
        padding: 40px 32px 10px;
        border-radius: 50% / 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .item-img {
            transition: all 0.5s ease;
            max-width: 85%;
            margin-top: -55%;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                width: 200px;
                height: 200px;
                top: 10%;
                right: 5%;
                background: url('../img/shine.png') no-repeat center / cover;
                mix-blend-mode: screen;
            }
        }
        .item-desc {
            text-align: center;
            h3 {
                font-size: 24px;
            }
            .item-divider {
                margin: 10px 0;
            }
            p {
                max-height: 63px;
                overflow-y: hidden;
            }
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 15px;
                margin-bottom: -35px;
                opacity: 0;
                color: $primary;
                font-weight: 500;     
                span {
                    text-decoration: underline;
                }
                svg {
                    margin-left: 8px;
                    path {
                        transition: all 0.5s ease;
                        stroke: $primary;
                    }
                }
                &:hover {
                    color: #000;
                    svg path{
                        stroke: #000;
                    }
                }
            }
            & > span {
                display: block;
                max-width: 100px;
                margin: 30px auto -45px;
                color: #fff;
                font-weight: 500;
                padding: 8px 20px;
                background: radial-gradient(100% 100% at 50% 0%, #C7724A 0%, #B2633E 100%);
                box-shadow: 0px 7px 15px rgba(88, 47, 28, 0.2);
                border-radius: 50% / 5%;
            }
        }
    }
}

.catalog-pag {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    li {
        margin: 0 8px;
        a {
            background: transparent;
            color: #fff;
            border-width: 3px;
        }
    }
    li.active, li:hover {
        a {
            color: $primary;
            border-width: 8px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, #FFFFFF 100%);
        }
    }
}


// Product page


.productDesc {
    padding: 80px 0;
    .container {
        position: relative;
        .leaves {
            img:nth-child(1) {
                top: 120px;
                left: -80px;
            }
            img:nth-child(2) {
                left: -60px;
                top: -60px;
            }
            img:nth-child(3) {
                left: 150px;
                top: -70px;
            }
            img:nth-child(4) {
                top: 130px;
                left: 200px; 
            }
            img:nth-child(5) {
                top: 180px;
                left: 0;
            }
        }
    }
    .section-title {
        text-align: left;
        h1:after {
            margin-left: 0;
            margin-top: 40px;
        }
    }
}
.product {
    margin-top: 70px;
    padding: 30px;
    background: radial-gradient(97.73% 50.46% at 50% 0%, rgba(255, 255, 255, 0.75) 0%, #FFFFFF 100%);
    opacity: 0.95;
    box-shadow: 0px 20px 40px rgba(75, 58, 51, 0.3);
    .product-wrap {
        background: radial-gradient(97.73% 50.46% at 50% 0%, rgba(255, 255, 255, 0.75) 0%, #FFFFFF 100%);
        box-shadow: 0px 20px 40px rgba(75, 58, 51, 0.3);
        padding: 55px 30px;
        display: flex;
        .product-info {
            width: 45%;
            margin-right: 65px;
            & > p {
                margin-bottom: 30px;
            }
            .product-consist {
                border: 2px solid rgba(64, 69, 70, .15);
                padding: 30px;
                border-radius: 15px;
                & > li {
                    display: flex;
                    h3 {
                        font-size: 24px;
                    }
                    &.product-consist-capacity {
                        align-items: center;
                        margin-bottom: 25px;
                        span {
                            margin-left: 20px;
                            font-weight: 500;
                            border: 4px solid $primary;
                            border-radius: 50%/4%;
                            width: 100px;
                            height: 32px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    &.product-consist-ingred {
                        flex-direction: column;
                        ul {
                            margin-top: 12px;
                            padding-left: 19px;
                            li {
                                
                                list-style-type: disc;
                            }
                        }
                    }
                }
            }
        }
        .product-photo {
            position: relative;
            max-width: 448px;
        }
        .product-showPrice {
            min-width: 260px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -60px;
            margin: 0 auto;
        }
    }
}
.product-slider {
    position: relative;
    .arrow {
        position: absolute;
        top: 72%;
        &.arrow-left {
            left: -25px;
        }
        &.arrow-right {
            right: -25px;
        }
    }
    .slick-list {
        margin-top: -420px;
    }
    .product-slide {
        margin-top: 150px;
        position: relative;
        img {
            
        }
        &:after {
            content: '';
            position: absolute;
            width: 200px;
            height: 200px;
            top: 11%;
            right: 15%;
            background: url('../img/shine.png') no-repeat center / cover;
        }
    }
}

.recent {
    padding: 60px 0;
}
.recent-slider {
    position: relative;
    .slick-list {
        margin-top: -100px;
        .slick-track {
            margin-top: 100px;
        }
    }
    .recent-slide {
        margin: 100px 16px;
        &.top {
            margin-top: 150px;
        }
        .item {

        }
    }
    .arrow {
        position: absolute;
        top: 430px;
        &.arrow-left {
            left: -90px;
        }
        &.arrow-right {
            right: -90px;
        }
    }
}

.productPage {
    .benefits {
        padding: 100px 0 110px;
    }
}


// AboutPage

.aboutPage {
    .product {
        .product-info {
            p:last-child {
                margin-bottom: 0;
            }
        }
        .product-photo {
            display: flex;
            flex-direction: column;
            align-items: center;
            .product-img {
                margin-top: -400px;
                max-width: 620px;
                width: 100vw;
            }
            p {
                margin-top: 20px;
            }
        }
    }
}
.aboutPage {
    .testDelivery {
        .testDelivery-wrap {
            .testDelivery-icon {
                max-width: 15%;
                &.left {
                    img {
                        margin-right: auto;
                    }
                }
                &.right {
                    img {
                        margin-left: auto;
                    }
                }
            }
            .middle {
                width: 67%;
            }
        }
    }
}
.mission {
    .row {
        & > div {
            margin-bottom: 60px;
            &:nth-child(3n+2) {
                margin-top: 40px;
            }
        }
    }
}
.mission-item {
    position: relative;
    box-shadow: 0px 0px 15px #B2633E;
    border: 3px solid $primary;
    padding: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 200px;
    .mission-icon {
        position: absolute;
        top: -45px;
    }
    p {

    }
    .mission-year {
        position: absolute;
        bottom: -15px;
        z-index: 2;
        font-size: 18px;
        color: $primary;
        font-weight: 500;
        text-shadow: 0px 5px 10px rgba(178, 99, 62, 0.35);
        width: 100px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        box-shadow: 0px 7px 15px rgba(88, 47, 28, 0.2);
        border-radius: 50% / 10%;
    }
}
.mission-item-title {
    background: radial-gradient(85.41% 100% at 50% 0%, rgba(255, 255, 255, 0.75) 0%, #E9D4CA 0.01%, #FFFFFF 100%);  
    box-shadow: 0px 0px 15px #B2633E;
    border: 1px solid #fff;
    .mission-icon {
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 64px;
        height: 64px;
        background: #fff;
        border-radius: 50%;
    }
    h2 {
        color: #23282C;
        margin-bottom: 25px;
        font-size: 34px;
        span {
            color: $primary;
        }
        &:after {
            content: '';
            width: 72px;
            height: 2px;
            background: #B9653E;
            display: block;
            margin: 22px auto 0;
        }
    }
    p {
        color: #23282C;
        font-weight: 500;
        font-size: 18px;
    }
}


// Achiev

.achiev {
    padding: 65px 0;
    .section-title {
        margin-bottom: 130px;
    }
}
.achiev-item {
    box-shadow: 0px 0px 15px #B2633E;
    border: 3px solid $primary;
    padding: 15px;
    box-sizing: border-box;
    height: 100%;
    .achiev-item-wrap {
        background: radial-gradient(97.73% 100% at 50% 0%, rgba(255, 255, 255, 0.75) 0%, #FFFFFF 100%);
        box-shadow: 0px 20px 40px rgba(75, 58, 51, 0.3);
        padding: 110px 45px 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        box-sizing: border-box;
        .achiev-icon {
            position: absolute;
            top: -90px;
            left: 0;
            right: 0;
            img {
                margin: 0 auto;
            }
        }
        p {
            margin-top: 30px;
        }
    }
}


.testimonials {
    padding: 65px 0 170px;
}
.testimonials-slider {
    position: relative;
    .testimonials-slider-wrap {
        margin: -50px 0;
        .slick-track {
            display: flex;
            align-items: center;
            margin: 170px 0;
        }
        .testimonials-slide {
            border-radius: 50% / 10%;
            overflow: hidden;
            position: relative;
            transition: all 0.5s ease;
            z-index: 0;
            filter: brightness(50%);
            img {
                margin: 0 auto;
                
            }
            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                border: 5px solid rgba(255,255,255,.5);
                border-radius: 50% / 10%;
                width: 100%;
                height: 100%;
            }
        }
        .slick-current + .slick-active {
            transform: scale(1.7);
            z-index: 1;
            filter: brightness(100%);
        }
    }
    .arrow {
        position: absolute;
        top: 44%;
        &.arrow-left {
            left: -100px;
        }   
        &.arrow-right {
            right: -100px;
        }
    }
}


// Team

.team {
    padding: 65px 0 0;
    .container {
        position: relative;
        .leaves {
            img:nth-child(1) {
                top: 32%;
                left: -10%;
            }
            img:nth-child(2) {
                left: 10%;
                top: -5%;
            }
            img:nth-child(3) {
                top: 0%;
                right: -5%;
            }
            img:nth-child(4) {
                bottom: -15%;
                right: 15%;
            }
            img:nth-child(5) {
                bottom: -4%;
                left: 32%;
            }
            img:nth-child(6) {
                bottom: -14%;
                left: -2%; 
            }
        }
    }
    .row {
        & > div {
            margin: 15px 0;
            &:nth-child(2n - 1) {
                .team-item {
                    flex-direction: row-reverse;
                    .team-img {
                        img {
                            margin-right: auto;
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}

.team-item {
    display: flex;
    align-items: center;
    background: radial-gradient(77.86% 72.61% at 50% 27.39%, #FFFFFF 0%, rgba(255, 255, 255, 0.85) 100%);
    box-shadow: 0px 20px 80px rgba(118, 96, 86, 0.3);
    max-height: 280px;
    margin-top: 30px;
    height: 100%;
    position: relative;
    .team-img {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        overflow: hidden;
        position: absolute;
        z-index: 0;
        left: 0;
        top: -30px;
        height: calc(100% + 30px);     
        width: 100%;
        img {
            height: 100%;
            margin-left: auto;
        }
    }
    .team-info {
        position: relative;
        z-index: 1;
        max-width: 330px;
        padding: 45px 15px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
            font-size: 34px;
            line-height: 1.15;
        }
        p {
            font-size: 18px;
            font-weight: 500;
            margin: 15px 0 25px;
        }
        a {
            width: fit-content;
            background: $primary;
            font-weight: 500;
            color: #fff;
            border-radius: 50% / 5%;
            padding: 5px 10px;
            &:hover {
                background: transparent;
                color: $primary;
            }
        }
    }
}


// Vacancy 

.vacancy {
    padding: 130px 0 65px;
    .section-title {

    }
}
.vacancy-list {
    margin-top: 50px;
    .vacancy-item {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 10px;
        min-height: 190px;
        background: radial-gradient(107.24% 100% at 50% 0%, #FFFFFF 0%, rgba(255, 255, 255, 0.85) 100%);
        box-shadow: 0px 20px 80px rgba(118, 96, 86, 0.3);
        margin-bottom: 30px;
        & > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .vacancy-title {
            width: 30%;
            position: relative;
            flex-grow: 1;
            h2 {
                
            }
            &:after {
                content: '';
                position: absolute;
                width: 1px;
                height: 100%;
                background: #000;
                opacity: .1;
                right: 0;
                top: 0;
            }
        }
        .vacancy-desc {
            width: 70%;
            flex-grow: 1;
            padding: 0 50px;
            p {
                
            }
        }  
    }
}
.vacancy-btn {
    margin: 0 auto;
}


// Footer

.footer {
    margin-top: 70px;
    padding: 75px 0;
    background: url('../img/footer-bg.png') no-repeat center top / cover;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.footer-menu {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 45px;
    li {
        margin-bottom: 15px;
        &:hover {
            .submenu {
                transform: scaleY(1);
                z-index: 20;
            }
            a {
                svg {
                    transform: rotate(180deg);
                    path {
                        fill: $primary;
                    }
                }
            }
        }
    }
}
.footer-social {
    display: flex;
    justify-content: center;
    li {
        margin: 0 35px;
        a {

        }
        svg path{
            fill: #fff;
            transition: all 0.5s ease;
        }
        &:hover {
            svg path {
                fill: $primary;
            }
        }
    }
}
.footer-company {
    display: flex;
    justify-content: flex-end;
}

// Media

@media screen and (max-width: 1450px) {
    .partners-slider {
        .arrow {
            top: 100%;
            &.arrow-left {
                left: 5%;
            }
            &.arrow-right {
                right: 5%;
            }
        }
    }
    .recent-slider {
        .arrow {
            top: 90%;
            &.arrow-left {
                left: 5%;
            }
            &.arrow-right {
                right: 5%;
            }
        }
    }
    .testimonials-slider {
        .arrow {
            top: 90%;
            &.arrow-left {
                left: 5%;
            }
            &.arrow-right {
                right: 5%;
            }
        }
    }
}
@media screen and (min-width: 1200px) {
    .header-menu.menu li:hover {
        .submenu {
            transform: scaleY(1);
            z-index: 20;
        }
        a {
            svg {
                transform: rotate(180deg);
                path {
                    fill: $primary;
                }
            }
        }
    }
    .item:hover {
        .item-wrap {
            .item-img {
                max-width: 100%;
                margin-top: -80%;
            }
            .item-desc {
                a {
                    margin-bottom: 0;
                    opacity: 1;
                }
            }
        }   
    }
    

}
@media screen and (max-width: 1200px) {
    .burger-menu {
        display: block;
    }
    .header-back {
        display: none;
    }
    .header {
        overflow-x: hidden;
        z-index: 30;
        .container, .row {
            position: static !important;
        }
    }
    .menu > li .submenu li.active a:after {
        content: none;
    }
    .offer-img {
        margin: 0 auto;
    }
    .collapse-mobile {
        display: flex;
        opacity: 0;
        transform: translateX(110vw);
        transition: all 0.5s ease;
        position: fixed;
        z-index: 40;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        max-width: 100vw;
        padding: 0;
        justify-content: flex-end;
        &.open {
            opacity: 1;
            transform: translateX(0);
        }
        .overlay {
            z-index: 41;
            display: block;
        }
        .menu {
            overflow-y: scroll;
            position: relative;
            z-index: 42;
            width: 100%;
            min-height: 100vh;
            padding: 100px 0 0;
            max-width: 320px;
            background: $primary;
            flex-direction: column;
            align-items: flex-start;
            & > li {
                margin: 0;
                min-height: 50px;
                width: 100%;
                border-bottom: 1px solid #fff;
                &:first-child {
                    border-top: 1px solid #fff;
                }
                &:hover a, &.active a {
                    color: #fff;
                }
                .submenu {
                    opacity: 0;
                    height: 0;
                    position: static;
                    background: $primary;
                    border-radius: 0;
                    width: 100%;
                    align-items: flex-start;
                    height: 0;
                    padding: 0;
                    li {
                        min-height: 50px;
                        width: 100%;
                        margin: 0;
                        border-bottom: 1px solid #fff;
                        display: flex;
                        align-items: center;
                        &:first-child {
                            border-top: 1px solid #fff;
                        }
                        a {
                            width: 100%;
                            text-shadow: none;
                            padding: 0 15px;
                        }
                    }
                }
                & > a {
                    padding: 0 15px;
                    width: 100%;
                    height: 100%;
                    justify-content: space-between;
                    .open-submenu {
                        width: 50px;
                        min-height: 50px;
                        svg path{
                            fill: #fff !important;
                        }
                    }
                    &:after {
                        content: none;
                        display: none;
                    }
                }
            }
            & li { 
                & .submenu.open {
                    transform: scaleY(1);
                    opacity: 1;
                    height: 100%;
                }
                &:hover {
                    & > a {
                        color: #fff;
                        opacity: .7;
                    }
                }
            }
        }
    }
    .features .row > div {
        margin-bottom: 110px;
        &:nth-child(3n + 2) {
            margin-top: 0;
        }
    }
    .coop {
        padding: 65px 0;

    }
    .coop-wrap .coop-content {
        padding: 85px 20px 40px;
    }
    .coop-list .coop-item {
        padding: 50px 20px 30px;
    }
    .advantage-item {
        padding: 25px 25px 35px;
        h3 {
            font-size: 24px;
        }
    }
    .interest-contact {
        padding: 0 40px 50px;
    }
    .catalog-list {
        margin-top: 150px;
        .row {
            margin-bottom: -90px;
            > li {
                margin-bottom: 90px;
            }
        }
    }
    .item {
        .item-wrap {
            .item-desc {
                a {
                    margin-bottom: 0;
                    opacity: 1;
                }
                & > span {
                    margin-bottom: -30px;
                }
            }
        }
        
    }
    .productDesc {
        .watermark {
            svg {
                margin-left: auto;
                display: block;
            }
        }
    }
    .product-slider {
        .arrow {
            top: 50%;
        }
        .slick-list {
            margin-top: 0;
        }
        .product-slide {
            margin-top: 0;
        }
    }
}
@media screen and (max-width: 992px) {
    .leaves, .offer-title .watermark {
        display: none;
    }
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 34px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 20px;
    }
    .offer {
        padding: 50px 0;
    }
    .offer-img {
        margin-top: 40px;
        max-width: 500px;
        & > img {
            &:nth-child(1) {
                right: -60px;
            }
            &:nth-child(2) {
                left: 0;
            }
            &:nth-child(3) {
                left: -60px;
            }
        }
        .shine {
            img:nth-child(1) {
               left: 60px;
            }
            img:nth-child(2) {
                left: 160px;
            }
            img:nth-child(3) {
                left: 240px;
            }
        }
    }  
    .benefits {
        padding: 50px 0 10px;
    }
    .benefits .row > div {
        margin-bottom: 40px;
        &:nth-child(3n + 2) {
            margin-top: 0;
        }
    }
    .benefits-item {
        min-height: 250px;
    }
    .features-item .features-content {
        width: fit-content;
    }
    .coop-wrap {
        .shine {
            img {
                top: -10%;
            }
        }
    }
    .coop-list {
        & > div {
            margin-bottom: 80px;
            &:nth-child(3n+2) {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        .coop-item {
            .coop-item-icon {
                top: -45px;
            }
        }
    }
    .advantage {
        padding: 65px 0;
    }
    .advantage-list {
        & > div {
            margin-bottom: 30px;
            &:nth-child(3n+2) {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .interest {
        padding: 65px 0;
    }
    .interest-contact {
        padding: 35px 20px 35px;
        .shine {
            img {
                top: -140px;
            }
        }
    }
    .interest-item {
        .interest-icon {
            margin-top: 0;
            width: 50px;
            height: 50px;
            div {
                svg {
                    width: 70%;
                }
                &:after {
                    width: 36px;
                    height: 36px;
                }
            }
            span {
                display: none;
            }
        }
        .interest-link {
            margin-top: 15px;
            font-size: 20px;
        }
        span {
            margin-top: 2px;
        }
    }
    .partners-slider .partners-slide.top {
        margin-top: 20px;
    }
    .testDelivery-wrap {
        flex-wrap: wrap;
        .testDelivery-icon {
            width: 45%;
            &.left {
                order: 1;
            }
            &.right {
                order: 2;
            }
        }
        .middle {
            width: 100%;
            order: 3;
        }
    }
    .catalog {
        .section-title {
            .watermark {
                display: none;
            }
        }
    }
    .catalog-nav {
        margin-top: 50px;
        li {
            width: 45%;
            text-align: center;
        }
    }
    .recent {

    }
    .recent-slider {
        .recent-slide {
            margin: 80px 16px;
            &.top {
                margin-top: 80px;
            }
        }
        .arrow {
            top: 84%;
        }
    }
    .product {
        border-radius: 50%/2%;
    }
    .product-wrap {
        flex-direction: column;
        border-radius: 50%/2%;
        & > div {
            width: 100% !important;
            margin: 0 auto 40px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .product-showPrice {
            position: static !important;
            min-width: auto !important;
        }
    }
    .aboutPage {
        .product {
            .product-photo {
                .product-img {
                    margin-top: 0;
                    width: auto;
                }
            }
        }
    }
    .aboutPage {
        .testDelivery {
            .testDelivery-wrap {
                .testDelivery-icon {
                    display: none;
                }
                .middle {
                    width: 100%;
                }
            }
        }
    }
    .achiev {
        .row {
            & > div {
                margin-bottom: 120px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .testimonials-slider {
        .testimonials-slider-wrap {
            .slick-track {
                margin: 0 0 50px;
            }
            .slick-current + .slick-active {
                transform: scale(1);
            }
            .testimonials-slide {
                filter: brightness(100%);
            }
        }
    }
    .footer.convex-border {
        background: url('../img/moun-replace-bg.jpg') no-repeat center / cover;
        padding: 60px 0 45px;
    }
    .footer-menu {
        margin-bottom: 30px;
    }
    .footer-logo {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    .footer-company {
        margin-top: 30px;
        justify-content: center;
    }
}
@media screen and (max-width: 768px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 21px;
    }
    h4 {
        font-size: 18px;
    }
    .checkbox {
        input {
            width: 24px;
            height: 24px;
            & + label:before {
                width: 24px;
                height: 24px;
            }
        }
    }
    .interest-contact {
        background: url('../img/moun-replace-bg.jpg') no-repeat center / cover;
        .row {
            width: auto;
            & > div:nth-child(n + 2) {
                margin-top: 30px;
            }
        }
    }
    .form-submit {
        flex-direction: column;
        .form-check {
            margin-bottom: 30px;
        }
    }
    .catalog-nav {
        li {
            width: 100%;
        }
    }
    .catalog-list {
        margin-top: 255px;
        .row {
            margin-bottom: -50%;
            > li {
                margin-bottom: 50%;
            }
        }
    }
    .item {
        padding: 3px;
        .item-wrap {
            padding: 30px 7px 10px;
        }
    }
    .recent-slider {
        .recent-slide {
            margin: 200px 16px;
            &.top {
                margin-top: 200px;
            }
        }
    }
    .vacancy-list {
        .vacancy-item {
            flex-direction: column;
            align-items: center;
            & > div {
                width: 100% !important;
            }
            .vacancy-title {
                padding: 30px;
                &:after {
                    content: none;
                }
            }
            .vacancy-desc {
                padding: 0 30px 30px;
            }
        }
    }
    .footer-menu {
        flex-direction: column;
    }
}
@media screen and (max-width: 576px) {
    .shine {
        display: none;
    }
    .section-title {
        p {
            font-size: 16px !important;
        }
    }
    .convex-border {
        border-radius: 50% / 3%;
    }
    .btn {
        span {
            font-size: 13px;
        }
    }
    .offer-img {
        max-width: 100%;
    }
    .features-item {
        .features-content {
            .features-img {
                width: 250px;
                height: 250px;
            }
        }
        .hover-reverse {
            display: none;
        }
    }
    .coop-wrap {
        padding: 3px 5px;
        .coop-content {
            padding: 30px 5px;
            .section-title {
                margin-top: 70px;
            }
        }
    }
    .testDelivery {
        padding: 75px 0 65px;
    }
    .testDelivery-wrap > * {
        width: 100% !important;
        justify-content: center;
        margin-bottom: 15px;
        &.middle {
            margin-bottom: 0;
        }
    }
    .becomePartners-wrap {
        padding: 3px 5px;
    }
    .form {
        padding: 40px 10px;
        .btn input {
            font-size: 13px !important;
        }
    }
    .interest-contact {
        margin-top: 30px;
    }
    .partners {
        padding: 50px 0 65px;
    }
    .recent-slider {
        .recent-slide {
            margin: 3.5% 16px;
            &.top {
                margin-top: 3.5%;
            }
        }
    }
    .product {
        padding: 4px;
    }
    .product-wrap {
        padding: 45px 15px !important;
        & > div {
            width: 100% !important;
            margin: 0 auto 40px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .team-item {
        flex-direction: column !important;
        align-items: center;
        max-height: 100%;
        .team-img {
            max-width: 320px;
            margin: -30px auto 0;
            position: static;
            height: auto;
            border-radius: 0;
            img {
                height: auto;
            }
        }
    }
    .footer-social li {
        margin: 0 20px;
    }
}
@media screen and (max-width: 400px) {
    .advantage-item {
        background-size: auto;
    }
}