#review_top{
    padding: 30px 0;
}

.review{ color: #ffffff }

.review .section-title
{
    text-align: left;
}

.review .section-title.title-line h1:after
{
    margin-left: 0;
    margin-top: 40px;
}

.header-back{ z-index: -1 !important; }

#review_top .container {
    position: relative;
  }
  
  #review_top .container .leaves img:nth-child(1) {
    top: 120px;
    left: -80px;
  }
  
  #review_top .container .leaves img:nth-child(2) {
    left: -60px;
    top: -60px;
  }
  
  #review_top .container .leaves img:nth-child(3) {
    left: 150px;
    top: -70px;
  }
  
  #review_top .container .leaves img:nth-child(4) {
    top: 130px;
    left: 200px;
  }
  
  #review_top .section-title {
    text-align: left;
  }
  
  #review_top .section-title h1:after {
    margin-left: 0;
    margin-top: 40px;
  }
  
.review .container button.btn-review {
    margin-bottom: 25px;
}


  .review .review__name{ font-size: 18px; }
  .review .review__text{ padding: 10px 0px 10px 0px; }
  .review .review__next { 
    display: flex;
    padding-bottom: 10px; 
  }

  /*.review .review__next a:not(:first-child){ padding-left: 5px; }*/

  
  .review #blog .review__name{ font-size: 18px; }
  .review #blog .review__text{ padding: 10px 0px 10px 0px; text-align: justify; }
  .review #blog .review__next { 
    display: flex;
    padding-bottom: 10px; 
  }

  .review #blog .review__next a:not(:first-child){ padding-left: 5px; }